<div class="top-menu">
    <div class="content">
         <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
            <span class="mobileMenu-toggleIcon">Toggle menu</span>
        </a>
        <div class="left phone-number">
            {{#if settings.phone_number}}
                Need Help? Call Us: {{settings.phone_number}}
            {{/if}}
        </div>
        <div class="right account-links">
            <ul>
               {{#if settings.gift_certificates_enabled}}
                    <!-- li class="navUser-item gift-certficates">
                        <a class="navUser-action" href="{{urls.gift_certificate.purchase}}">{{lang 'Gift Certificate'}}</a>
                    </li -->
                {{/if}}
                {{#if settings.account_creation_enabled}}
                    <li class="navUser-item navUser-item--account">
                        {{#if customer}}
                            <a class="navUser-action account" href="{{urls.account.index}}"><i class="fa fa-user" aria-hidden="true"></i></a>
                            <a class="navUser-action logout" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
                        {{else}}
                            <a class="navUser-action" href="{{urls.auth.login}}"><!-- <i class="fa fa-user" aria-hidden="true"></i> --><a class="navUser-action login" href="{{urls.auth.login}}">{{lang 'common.login'}}</a><span class="or-text">or</span><a class="navUser-action create" href="{{urls.auth.create_account}}">{{lang 'Sign Up'}}</a>
                        {{/if}}
                     </li>
                {{/if}}
        <li class="navUser-item navUser-item--cart">
            <a
                class="navUser-action"
                data-cart-preview
                data-dropdown="cart-preview-dropdown"
                data-options="align:right"
                href="{{urls.cart}}">
                <span class="navUser-item-cartLabel"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span> <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">{{cart.quantity}}</span>
            </a>

            <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
        </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>

<header class="header" role="banner">
    {{#if template_file '===' 'pages/home'}}
        <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
        </h1>
    {{else}}
        <div class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
        </div>
    {{/if}}
    <!-- <div class="header-tagline"><p>Your Online Source for Discount Auto Parts.</p></div> -->
<div class="navPages-container inside-header left-logo" data-menu>
    <nav class="navPages">
        <div class="navPages-quickSearch right searchbar">
            {{> components/common/quick-search}}
        </div>
    </nav>
</div>
<div class="navPages-container inside-header right-logo" id="menu" data-menu>
    <nav class="navPages">
        <div class="navPages-quickSearch right searchbar">
            {{> components/common/quick-search}}
        </div>
    </nav>
</div>
<div class="navPages-container inside-header center-logo" id="menu" data-menu>
    <nav class="navPages">
        <div class="navPages-quickSearch right searchbar">
            {{> components/common/quick-search}}
        </div>
    </nav>
</div>
<div class="clear"></div>
<div class="mobile-menu navPages-container" id="menu" data-menu>
        {{> components/common/navigation-menu}}
</div>
</header>

<div class="navPages-container" id="menu" data-menu>
        {{> components/common/navigation-menu}}
</div>
