<div class="container">
    {{{ snippet "forms_search"}}}
    <form class="form" action="{{urls.search}}">
        <fieldset class="form-fieldset">
            <div class="form-field">
                <label class="u-hiddenVisually" for="search_query">{{lang "search.quick_search.input_label"}}</label>
                <input class="form-input" data-search-quick name="search_query" id="search_query" data-error-message="{{lang 'search.error.empty_field'}}" placeholder="Search" autocomplete="off">
                <div class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
                <input class="button button--primary form-prefixPostfix-button--postfix" type="submit" value="">
            </div>
        </fieldset>
        <div class="clear"></div>
    </form>
    <section class="quickSearchResults" data-bind="html: results"></section>
</div>
