// =============================================================================
// CUSTOM STYLES (CSS)
// =============================================================================


// Below are custom styles for the EasyPond Website.
// -----------------------------------------------------------------------------



// Site Template Customizations
// -----------------------------------------------------------------------------
::-moz-selection {background-color:#c3c437!important;}

body {background:url('//easypros.s3.amazonaws.com/bubbles.jpg') no-repeat 0 0 transparent!important;}

.top-menu .content, .header, div#menu, .body, .container {max-width:1200px!important;}
.top-menu {background:#1c75bb!important;}
.top-menu .right a.navUser-action:hover {color:#c75d6d!important}

.header {background:none!important;}

i.fa.fa-shopping-cart {background:#c75d6d!important;}

.navPages {max-width:1200px;}
.login {max-width:100%!important;}
.navPages-quickSearch input {height:35px!important;}

div#menu {background:#1c75bb !important; border-bottom:3px solid #27aae0!important; margin-top:40px!important;}
div#side-categories li.navPages-item.active a {background:#d3d3d3;}

.pagination {top:5px!important;}

.footer {background: #1c75bb!important;}
.footer-top.newsletter {background: #27aae0!important;}
.footer-info-list a:hover {color: #c75d6d!important;}
.footer-payment-icons svg {fill: #fff!important;}
.socialLinks .icon svg {}
.footer-bottom {background-color:#192428!important; border-color: #192428!important;}
.footer-bottom .content {max-width:1200px!important;}
.fa-toggle-up::before, .fa-caret-square-o-up::before {color:#fff!important;}
footer .footer-top .content {max-width:1200px!important;}
.footer-top h5 {color:#ffffff!important;}
.footer-bottom ul li a:hover {color: #c75d6d!important;}
.socialLinks .icon svg {fill:#fff;}
.socialLinks .icon:hover svg {fill:#27aae0;}

.navPages-action {font-size:13px;}
.custom-pages-nav .navPages-action {padding-right:23px!important;}

.panel-header, .panel-body {background:none;}

.pagination-item.pagination-item--current, .pagination-item.pagination-item--current a.pagination-link {border-color:#1c75bb!important;}
.pagination-item.pagination-item--current a  {color:#545454!important;}
.pagination-item .pagination-link:hover {color:#1a7ca1!important;}

// Mobile Site Template Customizations
// -----------------------------------------------------------------------------

@media all and (max-width:800px) {
    .pagination {display:none;}
    .header-logo--left {background:#ffffff!important;}
    .sideCategoryList {display:none!important;}
    .navPages {background:#1c75bb!important; border:1px solid #d3d3d3; box-shadow: 0px 1px 4px 0px #000000;}
    #menu .navPages .navPage-subMenu-list, #menu .navPages .navPage-subMenu-list li a {background:#27aae0!important;}
    #menu .custom-pages-nav .navPage-subMenu li {border-bottom:1px solid #1c75bb!important;}
    li.navPages-item a {border-bottom:1px solid #27aae0!important;}
    li.navPages-item.active a, #menu .navPage-subMenu {background:none!important; border:none!important;}
    #menu .navPage-subMenu span.down-arrow {padding:2px 10px !important;}
    .search.main {width:100%!important;}
    .header-logo--left {border-bottom:1px solid #d3d3d3;}

}


// Button Customizations
// -----------------------------------------------------------------------------

.button--primary, .form-actions .button {background:#c75d6d!important;}
.button--primary:hover, .form-actions .button:hover {background:#ffffff!important; border:1px solid #c75d6d!important; color:#c75d6d!important;}
a.button.button--small.card-figcaption-button {color:#fff!important; background:#c75d6d!important;}
a.button.button--small.card-figcaption-button:hover {background:#ffffff!important; border-size: 1px 1px 3px 1px; border-color: #c75d6d!important; border-style:solid; color:#c75d6d!important;}

.sale-flag-side {background:#c3c437!important;}


// Banner Customizations
// -----------------------------------------------------------------------------
.banners {border-color:#c75d6d!important;}

.slick-dots {text-align:center!important;}
.slick-dots li.slick-active button::before {background:#c75d6d!important;}




// Text & Link Customizations
// -----------------------------------------------------------------------------
.custom-pages-nav a:hover {color:#c75d6d!important;}
.breadcrumb.is-active > .breadcrumb-label {color:#c75d6d!important;}

h1.container-header, h2.container-header {color:#ffffff!important; background:#1c75bb !important; border-bottom:3px solid #27aae0!important; margin-bottom:12px!important;}

div#side-categories li a:hover  {color:#1c75bb!important;}
.card-title > a:hover  {color:#1c75bb!important;}

li.subcategory-item:hover span.subcategory-name {color:#c75d6d!important;}

.form-select--small, .form-select--date {height:2.786rem; background-size:1.786rem;}
.breadcrumb a:hover, .breadcrumb.is-active > .breadcrumb-label {color:#1c75bb !important;}

// Product Listings Customizations
// -----------------------------------------------------------------------------
.card-body {background-color:#ffffff!important;}

li.subcategory-item {min-height:215px!important;}



// Product Page Customizations
// -----------------------------------------------------------------------------
.product.main .tabs-contents {background-color:#ffffff!important; border-bottom:none!important;}

.form-checkbox + .form-label::before, .form-radio + .form-label::before  {border: 1px solid #515455;}

.tab {background:#1c75bb!important; width:auto!important;}
.tab a {color:#ffffff!important; padding:5px 15px!important; border:1px solid #1c75bb;}
.tab.is-active .tab-tile {color:#1c75bb!important;}
.tab.is-active .tab-title {color:#545454!important;}
.tab.is-active a.tab-title {border:1px solid #1c75bb; }

.productvid-container {display:block; max-width:640px; width:100%;}

@media all and (max-width:768px) {
	.tab {width:100%!important;}
	.tab.is-active a.tab-title {padding:10px!important;}

	.productView-options .form-action {width:100%; padding: 2rem 0;}
    .card-text[data-test-info-type="price"] {position:relative!important; bottom:0px!important;}
    .similar-products-by-views .card-text.add-to-cart-button {position:relative!important; width:100%!important;}
}






// About Us
// -----------------------------------------------------------------------------
.about-list {max-width:400px; height:400px; width:95%;}
.about-list h2 a {color:#ffffff; text-transform:uppercase; font-size: 58px; float:left; margin:0px 12px 12px 12px; text-align:left; line-height:65px; text-decoration:none; display: block; cursor: pointer; width: 400px; height: 400px;}

.about-bg-filters {background:transparent url("//cdn7.bigcommerce.com/s-47eef8yodk/product_images/uploaded_images/pond-filters.jpg") no-repeat center center;}
.about-bg-pondkits {background:transparent url("//cdn7.bigcommerce.com/s-47eef8yodk/product_images/uploaded_images/pond-kits.jpg") no-repeat center center;}
.about-bg-pondless {background:transparent url("//cdn7.bigcommerce.com/s-47eef8yodk/product_images/uploaded_images/pondless-waterfalls.jpg") no-repeat center center;}
.about-bg-lighting {background:transparent url("//cdn7.bigcommerce.com/s-47eef8yodk/product_images/uploaded_images/pond-lighting.jpg") no-repeat center center;}
.about-bg-liners {background:transparent url("//cdn7.bigcommerce.com/s-47eef8yodk/product_images/uploaded_images/pond-liners.jpg") no-repeat center center;}
.about-bg-pumps {background:transparent url("//cdn7.bigcommerce.com/s-47eef8yodk/product_images/uploaded_images/pond-pumps.jpg") no-repeat center center;}
.about-bg-airpumps {background:transparent url("//cdn7.bigcommerce.com/s-47eef8yodk/product_images/uploaded_images/pondair-pumps.jpg") no-repeat center center;}

@media all and (max-width:800px) {
	.about-list {max-width:400px; margin:0 auto;}
}




// Content Style & Format Additions
// -----------------------------------------------------------------------------

.row3 {width:33%; float:left;}
.row3-last {width:33%; float:left; position:relative; margin-right:0px!important;}
.center {text-align:center;}

h1.big-header-blue, h2.big-header-blue, h1.big-header-orange, h2.big-header-orange {margin-top:0px!important;}

h1.big-header-blue::after, h2.big-header-blue::after {
content: '';
display: block;
margin: 15px auto;
height: 2px;
width: 300px;
border-bottom: 2px solid #27aae0;
}

h1.big-header-yellow h1::after, h2.big-header-yellow::after {
content: '';
display: block;
margin: 15px auto;
height: 2px;
width: 300px;
border-bottom: 2px solid #c3c437;
}


@media all and (max-width:800px) {
	.row3, .row3-last {width:100%; margin:0 auto;}
}




// Blog Page Customizations
// -----------------------------------------------------------------------------
.blog-thumbnail {height:165px;overflow:hidden;}
article.blog img {width:auto!important; border-bottom:none!important; max-height:400px!important;}
main.blog.page article.blog img {width:100%!important; min-height:165px!important; height:auto; border-bottom:none!important;}


main.page.blog .blog-post a.read-more-button {background-color: #1c75bb!important; border-color:#27aae0!important; color:#ffffff!important;}
main.page.blog .blog-post a.read-more-button:hover {color: #c75d6d!important;}

div.blog.single .blog-thumbnail {width:100%!important; height:auto!important;}
main.page.blog .socialLinks .icon svg {fill:#545454!important;}
