---
blog:
    posts:
        limit: 12
        pages: 3
        summary: 150
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page blog">
    <h1 class="page-heading">{{ blog.name }}</h1>

    {{#each blog.posts}}
        {{> components/blog/post post=this settings=../settings}}
    {{/each}}

    {{> components/common/paginator pagination.blog}}
</main>

{{/partial}}
{{> layout/base}}
