---
brand:
    products:
        limit: {{theme_settings.brandpage_products_per_page}}

        category:
            shop_by_price: true
            products:
                limit: {{theme_settings.categorypage_products_per_page}}

blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{inject "brandProductsPerPage" theme_settings.brandpage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.brand.previous}}
        <link rel="prev" href="{{pagination.brand.previous}}">
    {{/if}}
    {{#if pagination.brand.next}}
        <link rel="next" href="{{pagination.brand.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}
    <div class="sideCategoryList" id="side-categories" data-menu>
        <div class="categories">
            <h2 class="container-header">Shop by Category</h2>
            <div class="category-list">
                {{#each categories}}
                    <li class="navPages-item">
                        {{> components/common/navigation-list}}
                    </li>
                {{/each}}
            </div> <!-- category-list -->
        </div> <!-- categories -->
        <div class="brands">
            <h2 class="container-header">Shop by Brand</h2>
            <div class="brands-list">
                {{#each shop_by_brand}}
                    <li>
                        <a href="{{url}}">{{name}}</a>
                    </li>
                {{/each}}
                    <li>
                        <a href="/brands/">View all Brands</a>
                    </li>

            </div> <!-- brand-list -->
        </div> <!-- brands -->
          <div class="shop-by-price" id="faceted-search-container">
            {{> components/brand/sidebar}}
          </div>
    </div> <!-- sideCategoryList -->

<div class="brand main">
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    {{#if banners.top}}
            <div class="banners" data-banner-location="top">
                <div class="banner">
                {{{limit banners.top 1}}}
                </div> <!-- banner -->
            </div> <!-- banners -->
    {{/if}}
{{#if brand.image}}
<!-- <div class="brand-main-image">
    <img src="{{getImage brand.image 'thumb'}}">
</div> -->
{{/if}}
<h2 class="container-header">{{brand.name}}</h1>
{{{snippet 'brand'}}}
<div class="page">
    <main class="page-content" id="product-listing-container">
        {{#if brand.products}}
            {{> components/brand/product-listing}}
        {{else}}
            <p>{{lang 'brands.no_products'}}</p>
        {{/if}}
        <div class="compare">
                <a class="navUser-action navUser-item--compare" href="{{urls.compare}}" data-compare-nav>{{lang 'Compare Selected'}}</a>
            </div>
        <div class="clear"></div>
        {{#if banners.bottom}}
            <div class="banners" data-banner-location="bottom">
                <div class="banner">
                {{{limit banners.bottom 1}}}
                </div> <!-- banner -->
            </div> <!-- banners -->
        {{/if}}
    </main>
</div>
</div>

{{/partial}}
{{> layout/base}}
