---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---

{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}
{{#partial "page"}}
    <div class="sideCategoryList" id="side-categories" data-menu>
        <div class="categories">
            <h2 class="container-header">Shop by Category</h2>
            <div class="category-list">
                {{#each categories}}
                    <li class="navPages-item">
                        {{> components/common/navigation-list}}
                    </li>
                {{/each}}
            </div> <!-- category-list -->
        </div> <!-- categories -->
        <div class="brands">
            <h2 class="container-header">Shop by Brand</h2>
            <div class="brands-list">
                {{#each shop_by_brand}}
                    <li>
                        <a href="{{url}}">{{name}}</a>
                    </li>
                {{/each}}
                    <li>
                        <a href="/brands/">View all Brands</a>
                    </li>
            </div> <!-- brand-list -->
        </div> <!-- brands -->
        <div class="shop-by-price">
            {{#if category.faceted_search_enabled}}
                {{> components/faceted-search/index category}}
            {{else}}
                {{> components/category/shop-by-price shop_by_price=category.shop_by_price category_url=category.url}}
            {{/if}}
        </div>
    </div> <!-- sideCategoryList -->

<div class="category main">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <h1 class="container-header">{{category.name}}</h1>
    {{#if banners.top}}
            <div class="banners" data-banner-location="top">
                <div class="banner">
                {{{limit banners.top 1}}}
                </div> <!-- banner -->
            </div> <!-- banners -->
    {{/if}}
    {{#if category.image}}
        <div class="category-main-image">
            <div class="category-header-image" style="background-image: url({{getImage category.image}});"></div>
           <!--  <img class="category-header-image" src="{{getImage category.image 'zoom'}}"> -->
        </div>
    {{/if}}
    {{{category.description}}}
    {{{snippet 'categories'}}}
    <div class="page category-grid">
        <!--LONE STAR CUSTOM SUBCATEGORY GRID-->
        {{#if category.subcategories}}
            <div class="subcategory-grid">
              
                <ul class="navList">
                    {{#each category.subcategories}}
                        <li class="subcategory-item">
                            <div class="subcategory-link-container">
                                <a class="subcateogory-image-link" href="{{url}}" alt="{{name}}">
                                <div class="subcategory-image" style="background-image: url({{getImage image}});"><br /></div></a>
                            </div>
                                <a class="subcategory-link" href="{{url}}" alt="{{name}}"><span class="subcategory-name">{{name}}</span></a>
                            <div class="clear"></div>
                        </li>
                    {{/each}}
                </ul>
        {{/if}}
    </div>

        <main class="page-content" id="product-listing-container">
            {{#if category.products}}
                {{> components/category/product-listing}}
            {{else}}
                <p>{{lang 'categories.no_products'}}</p>
            {{/if}}
            <div class="compare">
                <a class="navUser-action navUser-item--compare" href="{{urls.compare}}" data-compare-nav>{{lang 'Compare Selected'}}</a>
            </div>
            <div class="clear"></div>
            {{#if banners.bottom}}
            <div class="banners" data-banner-location="bottom">
                <div class="banner">
                {{{limit banners.bottom 1}}}
                </div> <!-- banner -->
            </div> <!-- banners -->
            {{/if}}
        </main>
    </div>
</div>
{{/partial}}
{{> layout/base}}
