---
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">

    <h1 class="page-heading">{{page.title}}</h1>

    {{#if page.sub_pages}}
        <nav class="navBar">
            <ul class="navBar-section">
                {{#each page.sub_pages}}
                    <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
                {{/each}}
            </ul>
        </nav>
    {{/if}}

    <div class="page-content page-content">
        {{#if forms.contact.success}}
            {{{lang 'forms.contact_us.successful' shopPath=urls.home}}}
        {{else}}
            <p>{{{page.content}}}</p>
            {{> components/page/contact-us-form}}
        {{/if}}

    </div>

</main>

{{/partial}}

{{> layout/base}}
