---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "page"}}
    <div class="product main">
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

        {{#each product.shipping_messages}}
            {{> components/common/alert-info message}}
        {{/each}}

    <div itemscope itemtype="http://schema.org/Product">
        {{> components/products/product-view schema=true}}

        {{> components/products/tabs}}
        <div class="clear"></div>
    </div>

    <div class="similar-products-by-views">
        {{#if product.similar_by_views}}
            <h2 class="container-header">You May Also Like...</h2>
                {{> components/products/carousel products=product.similar_by_views columns=4}}
        {{/if}}
         <div class="clear"></div>
    </div>

        <div class="similar-products-by-views">
            {{#if product.related_products}}
            <h2 class="container-header">Recommended</h2>
            {{> components/products/carousel products=product.related_products columns=6}}
            {{/if}}
        </div>

    </div>

{{/partial}}
{{> layout/base}} 

