---
product_results:
    limit: {{theme_settings.searchpage_products_per_page}}

blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{inject 'categoryTree' forms.search.category_options}}
{{inject 'searchProductsPerPage' theme_settings.searchpage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.product_results.previous}}
        <link rel="prev" href="{{pagination.product_results.previous}}">
    {{/if}}
    {{#if pagination.product_results.next}}
        <link rel="next" href="{{pagination.product_results.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}
<div class="search-results">
<div class="sideCategoryList" id="side-categories" data-menu>
        <div class="categories">
            <h2 class="container-header">Shop by Category</h2>
            <div class="category-list">
                {{#each categories}}
                    <li class="navPages-item">
                        {{> components/common/navigation-list}}
                    </li>
                {{/each}}
            </div> <!-- category-list -->
        </div> <!-- categories -->
        <div class="brands">
            <h2 class="container-header">Shop by Brand</h2>
            <div class="brands-list">
                {{#each shop_by_brand}}
                    <li>
                        <a href="{{url}}">{{name}}</a>
                    </li>
                {{/each}}
                    <li>
                        <a href="/brands/">View all Brands</a>
                    </li>
            </div> <!-- brand-list -->
        </div> <!-- brands -->
        <div class="shop-by-price">
            {{#if category.faceted_search_enabled}}
                {{> components/faceted-search/index category}}
            {{else}}
                {{> components/category/shop-by-price shop_by_price=category.shop_by_price category_url=category.url}}
            {{/if}}
        </div>
    </div> <!-- sideCategoryList -->

    <div class="search main">
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        {{#if banners.top}}
            <div class="banners" data-banner-location="top">
                <div class="banner">
                {{{limit banners.top 1}}}
                </div> <!-- banner -->
            </div> <!-- banners -->
    {{/if}}
{{{snippet 'search'}}}
<section class="nav">
    {{#if forms.search.query}}
        <div id="search-results-heading">
            {{>components/search/heading}}
        </div>
    {{/if}}
    <nav class="navBar navBar--sub">
        <ul class="navBar-section account-navigation">
            <li class="navBar-item">
                <a id="search-results-product-count" class="navBar-action" href="{{forms.search.product_url}}" data-product-results-toggle>
                    {{>components/search/product-count}}
                </a>
            </li>
            <li class="navBar-item">
                <a class="navBar-action" href="{{forms.search.content_url}}" data-content-results-toggle>
                    {{lang 'search.results.content_count' count=pagination.content_results.total}}
                </a>
            </li>
            {{#unless product_results.faceted_search_enabled}}
                <li class="navBar-item navBar-item--separate">
                    <a class="navBar-action toggleLink" data-collapsible="advanced-search-content" href="#" aria-controls="advanced-search-content" aria-expanded="false">
                        <span class="toggleLink-text toggleLink-text--on">
                            {{lang 'forms.search.hide'}}
                        </span>
                        <span class="toggleLink-text toggleLink-text--off">
                            {{lang 'forms.search.show'}}
                        </span>
                    </a>
                </li>
            {{/unless}}
        </ul>
    </nav>
    {{#unless product_results.faceted_search_enabled}}
        {{>components/search/advanced-search}}
    {{/unless}}
</section>

<section class="page">
    {{#if product_results.products}}
        {{#if product_results.faceted_search_enabled}}
            <aside class="page-sidebar{{#if forms.search.section '!=' 'product'}} u-hiddenVisually{{/if}}" id="faceted-search-container">
                {{> components/faceted-search/index product_results}}
            </aside>
        {{/if}}
        <main class="page-content">
    {{else}}
        <main class="page-content page-content">
    {{/if}}
        {{#if forms.search.has_suggestions}}
            <div class="panel panel--large">
                <div class="panel-body">
                    {{#if forms.search.suggested_query}}
                        <div class="search-suggestion">
                            {{{lang 'forms.search.did_you_mean' suggestion=forms.search.suggested_query.query}}}
                            <a href="{{forms.search.suggested_query.url}}" class="search-refine">{{lang 'forms.search.refine'}}</a>
                        </div>

                        <div class="search-suggestion">
                            <p>{{{lang 'forms.search.no_match' query=forms.search.query}}}</p>
                        </div>
                    {{/if}}

                    {{#if category_results.length}}
                        <div class="search-suggestion">
                            <h3 class="suggestion-title">{{lang 'forms.search.categories'}}</h5>
                            <ul class="category-suggestion-list">

                                {{#each category_results}}
                                <li class="category-suggestion">

                                    {{#each this}}
                                        <a href="{{url}}">{{name}}</a>
                                        {{#unless @last}} > {{/unless}}
                                    {{/each}}

                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    {{/if}}

                    {{#if brand_results.length}}
                        <div class="search-suggestion">
                            <h3 class="suggestion-title">{{lang 'forms.search.brand'}}</h5>
                            {{#each brand_results}}
                                <a href="{{url}}">{{name}}</a>
                                {{#unless @last}}, {{/unless}}
                            {{/each}}
                        </div>
                    {{/if}}

                    {{#if result_count '===' 0}}
                        <div class="search-suggestion">
                            <h3 class="suggestion-title">{{lang 'forms.search.suggestions.title'}}</h5>
                            <ul>
                                <li>{{lang 'forms.search.suggestions.line1'}}</li>
                                <li>{{lang 'forms.search.suggestions.line2'}}</li>
                                <li>{{lang 'forms.search.suggestions.line3'}}</li>
                            </ul>
                        </div>
                    {{/if}}
                </div>
            </div>
        {{/if}}

        {{#if content_results}}
            <div id="search-results-content" {{#if forms.search.section '!=' 'content'}}class="u-hiddenVisually"{{/if}}>
                {{> components/search/content-sort-box sort=pagination.content_results.sort}}
                <ul>
                    {{#each content_results}}
                        <strong><a href="{{url}}">{{title}}</a></strong>({{type}})
                        <p>{{content}}</p>
                    {{/each}}
                </ul>
                {{> components/common/paginator pagination.content_results reload=true}}
            </div>

        {{/if}}

        <div id="product-listing-container" {{#if forms.search.section '!=' 'product'}}class="u-hiddenVisually"{{/if}}>
            {{> components/search/product-listing}}
        </div>
        <div class="compare">
                <a class="navUser-action navUser-item--compare" href="{{urls.compare}}" data-compare-nav>{{lang 'Compare Selected'}}</a>
            </div>
        <div class="clear"></div>
        {{#if banners.bottom}}
            <div class="banners" data-banner-location="bottom">
                <div class="banner">
                {{{limit banners.bottom 1}}}
                </div> <!-- banner -->
            </div> <!-- banners -->
        {{/if}}
    </main>
</section>
</div>
</div>
{{/partial}}
{{> layout/base}}
