<div class="form-field" data-product-attribute="input-number">
    <label class="form-label form-label--alternate form-label--inlineSmall" for="attribute_{{id}}">
        {{#if required}}
            <small class="required">*</small>
        {{/if}}
        {{ this.display_name }}:
    </label>

    <input class="form-input" type="number" id="attribute_{{id}}" {{#unless this.integer_only}}step="any"{{/unless}} name="attribute[{{this.id}}]" value="{{this.prefill}}" {{#if required}}required{{/if}}>
</div>
