<div class="form-field" data-product-attribute="input-checkbox">
    <label class="form-label form-label--alternate form-label--inlineSmall">
       {{#if required}}
            <small class="required">*</small>
        {{/if}}
        {{ this.display_name }}:
    </label>

    <input 
        class="form-checkbox"
        type="checkbox"
        name="attribute[{{id}}]"
        id="attribute-{{id}}"
        value="{{value}}"
        {{#if checked}}checked{{/if}}
        {{#if required}}required{{/if}}>

    <label class="form-label {{class}}" for="attribute-{{id}}">{{label}}</label>
</div>
