<div class="form-field" data-product-attribute="input-text">
    <label class="form-label form-label--alternate form-label--inlineSmall" for="attribute_{{id}}">
        {{#if required}}
            <small class="required">*</small>
        {{/if}}
        {{ this.display_name }}:
    </label>

    <input class="form-input form-input--small" type="text" id="attribute_{{id}}" name="attribute[{{this.id}}]" value="{{this.prefill}}" {{#if required}}required{{/if}}>
</div>
