<div class="form-field" data-product-attribute="set-rectangle">
    <label class="form-label form-label--alternate form-label--inlineSmall">
        {{#if required}}
            <small class="required">*</small>
        {{/if}}
        {{ this.display_name }}:
    </label>
    
    <div class="options-container">
    {{#each this.values}}
        <input
            class="form-radio"
            type="radio"
            id="attribute_{{id}}"
            name="attribute[{{../id}}]"
            value="{{id}}"
            {{#if selected}}checked{{/if}}
            {{#if ../required}}required{{/if}}>

        <label class="form-option" for="attribute_{{id}}" data-product-attribute-value="{{id}}">
            <span class="form-option-variant">{{this.label}}</span>
        </label>
    {{/each}}
    </div>
</div>
