<div class="form-field" data-product-attribute="textarea">
    <label class="form-label form-label--alternate form-label--inlineSmall" for="attribute_{{id}}">
        {{#if required}}
            <small class="required">*</small>
        {{/if}}
        {{ this.display_name }}:
    </label>

    <textarea class="form-input" id="attribute_{{id}}" name="attribute[{{id}}]" {{#if required}}required{{/if}}>
        {{prefill}}
    </textarea>
</div>
