body {
	font-family: 'Open Sans', sans-serif !important;
}

p, h1, h2, h3, h4, h5, h6, li, a, span {
	font-family: 'Open Sans', sans-serif;
	// color: stencilColor("color-textBase");
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h4.card-title {
  line-height: 1.25;
  height: 40px;
  overflow: hidden;
}

input.button.button--primary.form-prefixPostfix-button--postfix {
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}

input.form-file {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: stencilColor("input-bg-color");
    color: stencilColor("color-textBase");
    border: 1px solid;
    border-color: stencilColor("input-border-color");
    border-radius: 0 !important;
    font-size: 12px;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
}

input.form-file:focus + label,
input.form-file + label:hover {
    background-color: red;
}

::selection {
  background-color: stencilColor("color-primary") !important;
  color: #ffffff;
}

::-moz-selection {
  background-color: stencilColor("color-primary");
  color: #ffffff;
}

.page-heading {
	color: stencilColor("navPages-color");
}

.quickSearchMessage {
	font-size: 24px;
}

.form-actions input {
	border-color: stencilColor("button--primary-borderColor");
	font-family: 'Open Sans', sans-serif;
}

.search-results .form-actions input {
	border-color: stencilColor("button--primary-borderColor");
}

.primary-color {
	color: stencilColor("color-primary");
}

span.primary-color span {
	color: stencilColor("color-primary");
}

.button {
	border-radius: 0;
}

.button {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 3px solid;
	// border-color: stencilColor("button--primary-borderColor");
	border-color: rgba(0, 0, 0, 0.35);
}

a.button {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 18px;
}

div#cart-preview-dropdown {
	background: stencilColor("body-bg");
}

div#cart-preview-dropdown {
	border: 1px solid;
	border-color: stencilColor("input-border-color");
}

.previewCartCheckout .button + .button, .previewCartCheckout .button + p {
	background-color: stencilColor("color-primary");
	color: #ffffff;
}

.previewCartCheckout .button:hover {
	background-color: stencilColor("button--primary-backgroundColorHover");
}

.previewCartCheckout .button {
	margin-bottom: 15px;
}

.previewCartAction .button {
	background-color: stencilColor("color-primary");
	color: #ffffff;
}

.previewCartAction .button:hover {
	background-color: stencilColor("button--primary-backgroundColorHover");

}

.cart-item-brand {
	color: stencilColor("color-textBase");
}

.previewCart-emptyBody {
	background: stencilColor("body-bg");
}

.cart-remove > svg {
	fill: stencilColor("color-primary");
}

.previewCartAction .button {
	font-size: 14px;
}

i.fa.fa-shopping-cart {
	margin-right: 1px;
	background: stencilColor("color-primary");
	padding: 6px 13px 6px 7px;
	font-size: 20px;
	border-bottom: 3px solid;
	// border-color: stencilColor("button--primary-borderColor");
	border-color: rgba(0, 0, 0, 0.35);
	color: #ffffff !important;
}

.previewCartList {
	overflow: hidden;
}

.pagination-item.pagination-item--previous > a, .pagination-item.pagination-item--next > a {
	color: stencilColor("color-textBase");
}

.breadcrumb {
	color: stencilColor("color-textBase");
	font-weight: 400 !important;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 11px;
}

.breadcrumb.is-active > .breadcrumb-label {
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 400 !important;
	color: stencilColor("color-primary");
}

.breadcrumb a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400 !important;
	color: stencilColor("color'textBase");
	font-size: 11px;
}

.breadcrumb a:hover {
	color: stencilColor("color-primary");
}

:focus {
	outline: 0;
}

.regular {
	font-family: 'Open Sans', sans-serif;
}

.bolder {
	font-weight: 900 !important;
}

.bold {
	font-weight: 600 !important;
}

.bolder.bigger {
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
	font-size: 20px !important;
}

.red {
	color: #d42020;
}

span.lowercase {
	text-trasform: lowercase;
}

span.smaller.lighter.lowercase {
    text-transform: lowercase;
    font-weight: 400;
    font-size: 16px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.top-menu {
	background-color: stencilColor("color-grey");
	height: 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.top-menu .content {
    max-width: 960px;
    margin: 0 auto;
}

.top-menu .left {
	float: left;
	line-height: 30px;
	color: stencilColor("color-secondary");
}

.navUser-action {
	padding: 5px;
	color: stencilColor("color-secondary");
	text-transform: capitalize;
}

.top-menu .right a.navUser-action {
	padding-right: 0;
	color: stencilColor("color-secondary");
}

.top-menu .right a.navUser-action.login {
	padding-left: 0;
}

.top-menu .right a.navUser-action.create {
	padding-left: 5px;
}

.top-menu .right span.or-text {
	color: stencilColor("color-secondary");
	padding-left: 5px;
}

.top-menu .right a.navUser-action:hover {
	color: stencilColor("color-primary");
}

a.navUser-action.logout {
	padding-left: 0;
}

.countPill {
    top: -5px !important;
    background-color: #ffffff;
    color: stencilColor("color-primary");
}

a.navUser-action {
	padding-left: 10px;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	line-height: 30px;
}

.footer-info-list a.navUser-action {
	line-height: inherit;
}

footer .blog {
	width: auto;
	float: none;
}

footer li.socialLinks-item {
	padding: 3px;
}

.navUser-item--cart .navUser-action {
	position: relative;
	z-index: 99;
	padding-top: 0;
}

.previewCart-emptyBody {
	background: #ffffff;
	color: #545454;
}

.navUser-item--account .navUser-action img {
	margin-top: -5px;
	padding-right: 5px;
}

i.fa.fa-user {
    margin-right: 5px;
}

/*QUICK SEARCH*/
/*.navPages-quickSearch {
    display: block;
    position: absolute;
    top: -85px;
    z-index: 10 !important;
    right: 0;
    max-width: 25%;
    width: 25%;
}*/

/*.navPages-quickSearch:before {
	content: "\f002";
	font-family: FontAwesome;
	font-size: 20px;
	font-weight: 300;
	position: absolute;
	top: 1px;
	right: 0px;
	z-index: 20;
	background-color: stencilColor("input-bg-color");
	padding: 0 10px 0 15px;
	width: 20%;
	color: stencilColor("input-font-color");
}*/

section.quickSearchResults {
	background-color: stencilColor("body-bg");
}

section.quickSearchResults li.product {
	width: 100%;
	background-color: #ffffff;
	padding: 0;
}

section.quickSearchResults .card-figure {
    width: 25%;
    text-align: left;
    margin: 0 !important;
    float: left;
    padding: 5px;
}

section.quickSearchResults article.card {
	min-height: auto;
}

section.quickSearchResults .card-body {
	float: left;
	width: 75%;
	min-height: auto;
	padding: 0 5px;
	max-height: 65px;
	padding: 0 5px;
	margin: 1px 0;
}

section.quickSearchResults .card-text.add-to-cart-button {
	position: relative;
	float: right;
	top: -40px;
	padding: .25rem;
	right: 5px;
}

section.quickSearchResults .card-text.add-to-cart-button a {
	position: static;
	float: right;
	top: -30px;
	padding: .25rem;
	right: 5px;
	font-size: 10px;
}

section.quickSearchResults a.button.button--small.card-figcaption-button.quickview {
	display: none;
}

section.quickSearchResults .card--alternate {
	border: none;
}

section.quickSearchResults .card--alternate:hover {
    border-color: transparent;

}

section.quickSearchResults .card--alternate:hover .card-body {
    background-color: stencilColor("card--alternate-backgroundColor");
}

section.quickSearchResults .card--alternate:hover .card-title > a {
	color: stencilColor("color-textBase");
}

section.quickSearchResults .sale-flag-side {
	bottom: -20px;
	left: 5px;
	margin-right: 5px;
	right: 5px;
	display: none;
}

section.quickSearchResults {
	display: block;
	border: 0px solid;
	border-top: none;
	border-color: stencilColor("input-border-color");
}

section.quickSearchResults.hide {
	display: none;
}

section.quickSearchResults a.modal-close {
    display: none;
}


/*MAIN NAV*/
.navPages-container {
	border-bottom: 3px solid;
	border-color: stencilColor("container-border-global-color-dark");
	background-color: stencilColor("color-grey");
}

#menu .navPage-subMenu {
	background: stencilColor("input-bg-color");
	border: 1px solid;
	border-color: stencilColor("container-border-global-color-dark");
	padding: 0;
}

#menu .navPage-subMenu:hover {
	display: block !important;
	color: #stencilColor("color-primary");
}

#menu .navPage-subMenu li {
	width: 100%;
}

#menu .navPages .navPage-subMenu-list {
	padding: 5px;
}

#menu .navPage-subMenu li a {
	background: stencilColor("input-bg-color");
	color: stencilColor("color-textBase");
	text-decoration: none;
	border-bottom: none;
	font-weight: 400 !important;
	font-size: 13px;
	padding: 5px 0 !important;
	margin-bottom: 0;
	line-height: 15px;
}

#menu .navPage-subMenu li a:hover {
	color: stencilColor("color-primary");
}

#menu li.navPage-subMenu-item:first-of-type {
	display: block;
}

#menu .navPage-subMenu {
	padding: 0 !important;
}

#navPages-:before {
	content: "\f0d7" !important;
	font-family: fontAwesome;
  position: absolute;
  left: 0;
  margin-left: 10px;
  top: -18px;
  border-width: 10px;
  border-style: solid outset solid solid;
  color: stencilColor("color-secondaryDark");
  display: block !important;
  z-index: 99999999999999 !important;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) stencilColor("color-secondaryDark") rgba(0, 0, 0, 0) !important;
}

#menu .custom-pages-nav .navPage-subMenu li {
	width: auto !important;
	float: none;
}

div#menu span.down-arrow {
    display: none;
}

#menu .navPage-subMenu li a i {
    float: right;
    display: none;
}

.custom-pages-nav div#navPages- {
    min-width: 215px;
    width: auto;
}

.navPage-subMenu.is-open {
	/*display: block !important;*/
}

ul#navPages-:before {
	display: none !important;
}

.navPage-subMenu.is-open span.down-arrow {
	float: right;
	position: relative;
	top: -25px;
	display: block !important;
}

.top-menu .right {
	float: right;
}

.top-menu .right ul li {
	display: inline-block;
}

body.content {
	max-width: 960px !important;
	margin: 0 auto !important;
}

.header {
	max-width: 960px;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 0;
	height: 135px;
}

.header-logo--left {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    width: 33.33%;
    line-height: 110px;
}

.header-logo-text {
	letter-spacing: 0;
	font-size: 32px;
	color: stencilColor("color-textBase");
}

.header-logo-text:hover {
	color: stencilColor("color-primary");
}

.body {
	max-width: 960px;
}

.container {
	max-width: 960px;
}

.clear {
	clear: both;
}

.header-tagline {
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		font-weight: Regular !important;
    float: left;
    width: 33.33%;
    display: inline-block;
    text-align: center;
    padding-top: 0;
    padding-left: 6%;
    line-height: 110px;
}

.header-tagline p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0;
	color: stencilColor("color-textBase");
	font-weight: regular;
}

.right.searchbar {
	/*padding-top: 34px;*/
	/*width: 33.33;*/
}

.navPages-quickSearch.right.searchbar input.button {
    position: absolute;
    top: 1px;
    width: 12%;
    right: 1px;
    border-color: stencilColor("input-border-color");
    border-width: 2px;
    opacity: 0;
    z-index: 9;
}

.fa-search:before {
    color: stencilColor("input-font-color");
    font-size: 20px;
}

/*.navPages-quickSearch.right.searchbar input:before {
	content: "\f002";
	font-family: FontAwesome;
	font-size: 20px;
	font-weight: 300;
	position: absolute;
	top: 1px;
	right: 0px;
	z-index: 9;
	background-color: stencilColor("input-bg-color");
	padding: 0 10px 0 15px;
	width: 20%;
	color: stencilColor("input-font-color");
	display: block;
}*/

.right.searchbar .form {
	margin-bottom: 0 !important;
}

.search-icon {
	position: absolute;
	right: 10px;
	top: 6px;
}

.right.searchbar .form input.button {
	padding: 0 18px;
}

header .form-prefixPostfix .form-input {
	border-radius: 0 !important;
	border-color: stencilColor("input-border-color");
	border-right: none;
	height: 32px !important;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}

.navPages-quickSearch .form-prefixPostfix .form-input {
	border-radius: 0 !important;
	border-color: stencilColor("input-border-color");
	border-right: none;
	height: 32px !important;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}

footer .form-prefixPostfix .form-input {
	border-radius: 0 !important;
	height: 32px !important;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	border-right: 1px solid;
	border-color: stencilColor("input-border-color");
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: stencilColor("input-font-color") !important;
}

article.footer-info-col.footer-info-col--small {
	font-size: 12px;
}

input:-ms-input-placeholder { /* IE 10+ */
  color: stencilColor("input-font-color") !important;
}

.form-input {
	background-color: stencilColor("input-bg-color");
	border-color: stencilColor("input-border-color");
	border-radius: 0;
}

.form-input--incrementTotal {
	background-color: #ffffff;
	padding: 1px;
}

input#gift-certificate-preview {
	color: stencilColor("color-textBase");
}

.form-actions input {
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif !important;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 3px solid;
	// border-color: stencilColor("button--primary-borderColor");
	border-color: rgba(0, 0, 0, 0.35);
}

input#gift-certificate-preview {
	background-color: stencilColor("card-figcaption-button-background");
	font-size: 14px;
	text-transform: uppercase;
	border-bottom: 3px solid;
	border-color: stencilColor("color-greyDarker");
	border-radius: 0;
	font-weight: bold;
	height: 32px !important;
  line-height: 32px;
  padding: 0 30px;
}

.navBar--sub .navBar-action:hover {
	color: stencilColor("color-primary");
}

input#gift-certificate-submit {
	text-transform: uppercase;
  margin-left: 0;
  border-radius: 0;
  padding: 0;
  height: 32px !important;
  line-height: 32px;
  padding: 0 30px;
  margin-left: 5px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif !important;
  border-top: none;
	border-left: none;
	border-right: none;
  border-bottom: 3px solid;
  border-color: stencilColor("button--primary-borderColor");
  background: stencilColor("color-primary");
}

input#gift-certificate-preview:hover {
	background-color: stencilColor("button--primary-backgroundColorHover");
	color: #ffffff;
	border-color: stencilColor("button--primary-backgroundColorHover");
}

input#gift-certificate-submit:hover {
 	background: stencilColor("color-primary");
 }

.form-select {
	border-radius: 0;
	border-color: stencilColor("input-border-color");
	color: stencilColor("input-font-color") !important;
}

input:-moz-placeholder { /* Firefox 18- */
  color: stencilColor("input-font-color") !important;
}

.form-select {
	background-color: stencilColor("input-bg-color");
}

header input#search_query_adv {
	padding-left: 15px !important;
	background-color: stencilColor("input-bg-color");
	border-color: stencilColor("input-border-color");
}

.navPages-quickSearch input {
	padding-left: 15px !important;
	background-color: stencilColor("input-bg-color");
	border-color: stencilColor("input-border-color");
	height: 32px;
	text-transform: uppercase;
}

.right.searchbar .form .form-prefixPostfix .button {
	background-color: stencilColor("input-bg-color");
	border: 1px solid;
	border-color: stencilColor("input-border-color");
	border-left: none !important;
	/*background-image: url('../img/search-icon.png');*/
	background-repeat: no-repeat;
	/*background-position: 50%;*/
	text-indent: -99999999px !important;
	padding: 0 31px 0 0;
	height: 32px !important;
	margin-top: 0;
	width: auto;
	position: relative;
	background-color: transparent;
	color: transparent;
	width: 20%;
	z-index: 9999999;
}

.right.searchbar .form .form-prefixPostfix {
	position: absolute;
	width: 25%;
}

.right.searchbar .form .form-prefixPostfix:before {
	content: "\f002";
	font-family: FontAwesome;
	font-size: 20px;
	font-weight: 300;
	position: absolute;
	top: 1px;
	right: 0px;
	z-index: 9;
	background-color: stencilColor("input-bg-color");
	padding: 0 10px 0 15px;
	width: 20%;
	color: stencilColor("input-font-color");
}

input {
	border-radius: 0 !important;
}

header .form-fieldset {
	width: 75% !important;
	float: right;
}

.custom-pages-nav {
    padding: 0 15px;
    height: 40px;
}

.custom-pages-nav a:hover {
	color: stencilColor("color-primary");
}

div#menu {
	max-width: 960px;
	margin: 0 auto;
}

.custom-pages-nav .navPages-action {
	line-height: 40px;
	padding-right: 35px;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	font-weight: bold;
}

div#side-categories {
    float: left;
    width: 25%;
    margin-top: 0;
    padding-right: 2%;
}

div#side-categories i.fa.fa-chevron-down.main-nav {
	display: none;
}

div#side-categories a > i.fa.fa-chevron-down {
	display: none;
}

.right-main {
	float: left;
	width: 75%;
}

.slider {
	width: 100%;
}

.heroCarousel {
    margin-bottom: 15px !important;
    margin-top: 0
}

section.heroCarousel.slick-initialized.slick-slider {
    /*width: 75%;
    float: left;
    padding-top: 20px;*/
}

.slick-list {
	border-radius: 0 !important;
}

.heroCarousel .slick-dots li:last-of-type {
	margin-bottom: 3px;
}

.heroCarousel .slick-dots li {
	border-radius: 0 !important;
}

span.go-arrow i.fa.fa-chevron-right {
	position: relative !important;
	top: 2px;
}

.banners {
	background: stencilColor("button--icon-svg-color");
	border-bottom: 3px solid;
	border-color: stencilColor("container-border-global-color-dark");
	margin-bottom: 15px;
	border-radius: 0;
	padding: 5px;
	margin-top: 15px;
}

.banners .banner p {
	font-size: 18px;
	font-style: italic;
	text-align: center;
	color: stencilColor("color-textBase");
}

.banners .banner p span {
	font-size: 16px;
}

h2.page-heading {
	text-transform: uppercase;
	border-bottom: 3px solid;
	border-color: stencilColor("container-border-global-color-dark");
	color: stencilColor('navPages-color');
	text-align: left;
	padding: 13px 24px 9px 24px;
	font-size: 15px;
	margin-bottom: 12px !important;
}

.main.full.home .productGrid {
    list-style: none;
    margin-left: 0;
    margin: 0 -2px;
    max-width: none;
    width: auto;
    font-size: 0;
    margin-bottom: 1.5rem;
}

.main.full .productGrid .product {
	padding-left: 2.5px !important;
	padding-right: 2.5px !important;
	position: relative;
}

.footer {
	padding: 0;
	border: none;
	border-color: stencilColr(color-grey);
}

footer .footer-top .content {
    max-width: 960px;
    margin: 0 auto;
    line-height: 45px;
}

.footer-top.newsletter {
    background-color: stencilColor("container-fill-dark");
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-top.newsletter form.form {
    float: right;
    height: 45px !important;
    line-height: 45px !important;
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 7px !important;
}

input.button.button--primary.form-prefixPostfix-button--postfix {
		border-top: none;
		border-left: none;
		border-right: none;
    border-bottom: 3px solid;
    border-color: stencilColor("button--primary-borderColor");
    font-weight: 600;
    font-family: 'Open Sans', sans-serif !important;
}

input.button.button--primary.form-prefixPostfix-button--postfix:hover {
	/*background: stencilColor("color-primary");*/
	border-bottom: 3px solid;
	border-color: stencilColor("container-fill-dark");
}

/*input.button.button--primary:hover {
	background-color: stencilColor("container-fill-dark");
	border-color: stencilColor("container-border-global-color-dark");
}*/

.footer-top.newsletter .form-prefixPostfix .button {
    text-transform: uppercase;
    margin-left: 0;
    border-radius: 0;
    padding: 0;
    height: 32px !important;
    line-height: 32px;
    padding: 0 30px;
    margin-left: 5px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 3px solid;
    // border-color: stencilColor("button--primary-borderColor");
		border-color: rgba(0, 0, 0, 0.35);
}

.footer-top.newsletter .form-prefixPostfix .button:hover {
	background: stencilColor("button--primary-backgroundColorHover");
	border-bottom: 3px solid;
	// border-color: stencilColor("button--default-borderColorHover");
	border-color: rgba(0, 0, 0, 0.35);
}

.footer-top h5 {
	float: left;
	font-size: 20px;
	text-transform: uppercase;
	padding-right: 10px;
	line-hieght: 45px !important;
}

h5.footer-info-heading {
	color: stencilColor('navPages-color');
  margin: 0;
  font-size: 16px;
  padding-bottom: 5px;
}

.footer-top.newsletter h5 {
	font-size: 20px;
}

.footer-bottom {
	background-color: stencilColor("color-primaryDark");
	height: 33px;
	line-height: 33px;
	border-bottom: none;
	border-top: 3px solid;
	border-color: stencilColor("color-greyDark");
	padding-left: 15px;
	padding-right: 15px;
}

.footer-bottom .content {
	max-width: 960px;
	margin: 0 auto;
	line-height: 29px;
	font-size: 12px;
}

.footer-info-col--small {
	width: 25%;
	margin-bottom: 0
}

footer ul.site-info {
	margin-bottom: 0
}

.socialLinks {
	padding-top: 5px;
}

.socialLinks--alt .icon {
    height: 25px;
    width: 25px;
}

footer a {
	color: stencilColor("navPages-color");
	text-deocoration: none !important;
}

.footer-info-list a {
	color: stencilColor("navPages-color");
	text-decoration: none;
	font-family: 'Open Sans',sans-serif !important;
	display: inline-block;
	padding: 0;
	font-weight: 400;
}

footer ul {
	margin-left: 0
}

footer address {
	color: stencilColor("color-secondary");
}

footer ul li {
	color: stencilColor("color-black");
	list-style-type: none;
	padding-bottom: 5px;
	font-family: 'Open Sans',sans-serif !important;
}

.footer-bottom span {
	font-family: 'Open Sans',sans-serif !important;
	color: stencilColor("color-greyDarkest");
}

.footer-bottom ul li a {
	color: stencilColor("color-greyDarkest");
	font-family: 'Open Sans',sans-serif !important;
}

.footer-bottom ul li {
	color: stencilColor("color-greyDarkest");
}

.footer-bottom ul li a:hover {
	color: stencilColor("color-primary");
}

footer ul li a {
	text-decoration: none;
}

footer-info .regular {
	line-height: 25px;
}

ul.site-info li {
    display: inline-block;
}

address {
	font-style: normal;
	font-family: 'Open Sans',sans-serif !important;
}

.footer-info {
	padding-bottom: 15px;
	clear: both;
	padding-top: 30px;
}

.footer-copyright {
    text-align: right;
    margin-bottom: -20px;
}

.footer-info-list a:hover {
    color: stencilColor("color-primaryDarker--hover");
}

.form-prefixPostfix .button {
	text-transform: uppercase;
	margin-left: 0;
	border-radius: 0 5px 5px 0;
	padding: 15px;
}

.form-prefixPostfix .form-input {
	border-radius: 5px 0 0 5px;
}

.footer-payment-icons {
	margin-top: 0;
	float: left;
	width: 50%;
	text-align: left;
	margin-left: 5px;
}

.footer-top.newsletter h5 {
	color: stencilColor("color-secondaryDarker");
	font-weight: bold;
}

svg.footer-payment-icon.amex {
    width: 4.5rem;
}

svg.footer-payment-icon.discover {
    width: 6.5rem;
}

svg.footer-payment-icon.paypal {
    width: 5rem;
    padding-top: 4px;
}

.footer-copyright > .powered-by {
	padding-top: 15px;
	width: 50%;
	float: right;
	margin-right: -10px;
}

.footer .navPages ul li {
	float: none;
	text-align: left;
	font-size: 1rem;
	line-height: 1.5;
}

.footer .navPages-action {
	padding: 0;
	font-weight: 400;
	font-size: 1rem;
}

footer ul.navPages-list {
    display: none;
}

a.lone-star-templates {
    font-weight: 900;
}

.backtoTop {
	opacity: 0;
	bottom: 48px;
	right: 15px;
	cursor: pointer;
	position: fixed;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.backtoTop.visible {
	opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.footer-info .navUser-or {
	padding: 0 12px;
	color: stencilColor("navPages-color");
}

.fa-toggle-up:before, .fa-caret-square-o-up:before {
	font-size: 30px;
	color: stencilColor("container-border-global-color-dark");
}

.backtoTop.visible:hover > .fa-caret-square-o-up:before {
	color: stencilColor("color-primary");
}

#side-categories li {
	list-style-type: none;
	padding: 0;
	padding-right: 0 !important;
	margin: 0px 0;
	width: 100%;
	float: none;
	border-radius: 5px;
	padding-left: 0 !important;
}

.navPage-subMenu.is-open {
	display: none;
}

#side-categories li .navPages-action {
	text-decoration: none;
	color: stencilColor("color-textBase");
	width: 100%;
	padding: 2px 12px !important;
	display: block;
	font-weight: 300;
}

div#side-categories li a:hover {
	color: stencilColor("color-primary");
}

a.navPage-subMenu-action.navPages-action {
	color: stencilColor("color-textSeconary");
}

a.navPage-subMenu-action.navPages-action:hover {
	color: stencilColor("color-primary");
}

.sideCategoryList a.navPages-action.has-subMenu:after {
	content: "+";
	float: right;
	text-align: right;
	font-size: 25px;
	font-weight: bold;
	line-height: 1.25rem;
}

.sideCategoryList .navPage-subMenu {
	display: block;
	position: relative;
	padding: 0 !important;
}

.sideCategoryList .navPage-subMenu-item > .navPage-subMenu-action {
	border-bottom: none;
	padding: 0;
	margin: 0;
}

.sideCategoryList .navPages-action-moreIcon {
	display: none;
}

.sideCategoryList ul.navPage-subMenu-list {
	margin-bottom: 0;
	margin-left: 0;
	border: 1px solid;
	/*border-color: stencilColor("color-greyLightest");*/
	border: none;
}

.sideCategoryList li.navPage-subMenu-item {
	background: none;
}

#side-categories div.brands li a {
	text-decoration: none;
	color: stencilColor("color-textSecondary");
	width: 100%;
	padding: 2px 12px !important;
	display: block;
	font-weight: 300;
}

#side-categories div.brands li a:hover {
	color: stencilColor("color-primary");
}

.container.main {
	float: right;
	width: 75%;
}

.main.full.home {
	width: 100%;
}

.slick-dots {
	text-align: right;
	bottom: -3px !important;
}

.slick-dots li.slick-active button::before {
	background: stencilColor("carousel-dot-color-active");
}

.slick-dots li button, .slick-dots li button::before {
	width: .75rem;
	height: .75rem;
}

.slick-dots li {
	height: 24px;
    width: 20px;
    line-height: 14px;
    padding-top: 3px;
}

.slick-dots li button:before {
	background: stencilColor("carousel-dot-color");
	opacity: 1;
}

.heroCarousel .slick-dots li {
	background: stencilColor("carousel-dot-bgColor");
	border-bottom: 3px solid;
	// border-color: stencilColor("carousel-bgColor");
	border-color: rgba(0, 0, 0, 0.35);
}


.heroCarousel-action {
	border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid;
	// border-color: stencilColor("button--primary-borderColor");
	border-color: rgba(0, 0, 0, 0.35);
  font-family: 'Open Sans',sans-serif !important;
  font-weight: bold;
  font-size: 18px !important;
  line-height: .5rem;
  padding: 11px 15px 10px 15px;
  text-transform: initial;
}

.button--primary:hover {
	// border-color: stencilColor("button--default-borderColorHover");
	border-color: rgba(0, 0, 0, 0.35);
}

.heroCarousel .slick-dots li:first-of-type {
	border-radius: 5px 0 0 0;
	width: 3.5%;
}

.heroCarousel .slick-dots li:last-of-type {
	border-radius: 0 0 5px 0;
	padding-right: 20px;
}

.slick-list {
	border-radius: 5px;
}

.sideCategoryList .navPages-action {
	padding: 5px;
}

.heroCarousel-content {
	background-color: rgba(255, 255, 255, 0);
}

.heroCarousel .slick-prev {
	left: 0;
	display: none;
	opacity: 0;
}

.heroCarousel .slick-next {
	right: 0;
	display: none;
	opacity: 0
}

.slider.active .heroCarousel .slick-prev {
	opacity: 1;
}

.slider.active .heroCarousel .slick-next {
	opacity: 1;
}

.heroCarousel-title {
	color: stencilColor("carousel-title-color");
	width: 50%;
	font-size: 32px;
	text-align: left;
	font-weight: bold;
	line-height: 39px;
	font-family: 'Open Sans',sans-serif;
	text-transform: uppercase;
}

p.heroCarousel-description {
	color: stencilColor("carousel-description-color");
	text-align: left;
	width: 50%;
	font-weight: bold;
	font-size: 18px;
	font-family: 'Open Sans',sans-serif;
	text-transform: capitalize;
}

.heroCarousel-action {
	text-align: left;
	display: table;
}

/*.heroCarousel-action:hover {
	background: stencilColor("color-primary");
	border-color: stencilColor("button--primary-borderColor");
	border-bottom: 3px solid;
	/*border-color: stencilColor("button--primary-backgroundColorHover");
}*/

.heroCarousel {
	margin-bottom: 20px;
}

.sideCategoryList .navPage-subMenu li {
	margin: 0 !important;
}

div#menu .navPage-subMenu.active {
	display: block
}

#menu i.fa.fa-chevron-down.main-nav {
	font-size: 12px;
}

.sideCategoryList a.navPage-subMenu-action.navPages-action {
    font-weight: lighter;
    font-size: 12px;
}

.category-list {
    padding: 10px 0 20px 0;
    background-color: stencilColor("color-secondaryDark");
}

.brands-list {
    padding: 10px 0 20px 0;
    background-color: stencilColor("color-secondaryDark");
}

.shop-by-price .navList {
	padding: 10px 0 0px 0;
  background-color: stencilColor("color-secondaryDark");
  border-bottom: 3px solid;
  border-color: stencilColor("card-figcaption-button-background");
}

.sideCategoryList .navPage-subMenu li {
	border-radius: none !important;
	border-bottom: .5px solid #ebebeb;
}

.sideCategoryList ul.navPage-subMenu-list li:last-of-type {
	border-radius: 0 0 5px 5px;
}

li.navPage-subMenu-item:first-of-type {
    display: none;
}

.sideCategoryList .navPage-childList {
	display: block;
}

#side-categories li.navPage-subMenu-item {
	margin-left: 0;
	width: 100% !important;
	padding-left: 10px !important;
	border: none !important;
	background-color: stencilColor("color-secondaryDark");
}

.sideCategoryList a.navPage-childList-action.navPages-action {
	font-size: 12px;
	/*margin-left: 10%;*/
	width: 90% !important;
}

.sideCategoryList .navPage-childList {
	margin-left: 0;
	padding-left: 0;
	margin-right: 0;
	margin-bottom: 0 !important;
}

.sideCategoryList li.navPage-subMenu-item {
	border-bottom: none !important;
}

.sideCategoryList li.navPage-subMenu-item {
	border-bottom: .5px solid #ebebeb !important;
}

.sideCategoryList .navPage-subMenu {
	display: none;
}

.sideCategoryList a.navPages-action.has-subMenu:after {
	display: none !important;
}

#side-categories li {
	position: relative;
	border-radius: 0;
	border: none;
}

li.navPages-item.active a {
    font-weight: bold;
    background-color: stencilColor("container-fill-base");
}

span.down-arrow {
    float: right;
    position: absolute;
    top: 3px;
    right: 10px;
    padding: 0 5px;
    border-radius: 5px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 12px;
}

.sideCategoryList .navPage-childList {
	display: none;
}

div#side-categories li a {
	 background-color: stencilColor("color-secondaryDark");
}

div#side-categories li.navPages-item.active a {
    font-weight: bold;
    background: stencilColor("card--alternate-backgroundColor");
    border: none;
    border-color: stencilColor("color-greyDark");
    color: stencilColor("color-textBase");
}

div#side-categories li.navPages-item.active a:hover {
	color: stencilColor("color-primary");
}

span.down-arrow:hover {
    cursor: pointer !important;
    cursor: -moz-pointer !important;
    cursor: -webkit-pointer !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

#side-categories li.navPages-item.active li.navPage-subMenu-item a {
	color: stencilColor("color-textBase");
	font-weight: bold;
	padding: 5px 12px !important;
	background: stencilColor("card--alternate-backgroundColor");
	border-bottom: none;
}

#side-categories li.navPages-item.active li.navPage-subMenu-item a:hover {
	color: stencilColor("color-primary");
}

#side-categories li.navPages-item.active li.navPage-subMenu-item {
	background: stencilColor("card--alternate-backgroundColor");
	color: stencilColor("color-textBase");
}

.sideCategoryList .categories {
	border-bottom: 3px solid /*#cac9c9*/;
	border-color: stencilColor("card-figcaption-button-background");
}

.sideCategoryList .brands {
	margin-top: 20px;
	border-bottom: 3px solid;
	border-color: stencilColor("card-figcaption-button-background");
	margin-bottom: 26px;
	background-color: stencilColor(" ");
}

a.navPage-subMenu-action.navPages-action {
	font-weight: bold !important;
}

article.card {
	background-color: stencilColor("card--alternate-backgroundColor");
	min-height: 300px;
}

.card-body {
	padding: 15px 10px;
	position: relative;
	height: auto;
	min-height: 135px;
}

.card {
	margin-bottom: 1rem;
}

a.button.button--small.card-figcaption-button {
	font-size: 14px;
	text-transform: uppercase;
	border-bottom: 3px solid;
	// border-color: stencilColor("color-greyDarker");
	border-color: rgba(0, 0, 0, 0.35);
	border-radius: 0;
	font-weight: bold;
	background-color: stencilColor("card-figcaption-button-background");
	color: stencilColor("card-figcaption-button-color");
}

a.button.button--small.card-figcaption-button:hover {
	background-color: stencilColor("color-primary");
	color: #ffffff;
	// border-color: stencilColor("button--default-borderColorHover");
	border-color: rgba(0, 0, 0, 0.35);
}

a.button.button--small.card-figcaption-button.quickview {
	background-color: stencilColor("color-primaryLight");
	// border-color: stencilColor("container-border-global-color-dark");
	border-color: rgba(0, 0, 0, 0.35);
	border: none;
	text-transform: capitalize;
	color: #ffffff;
}

.card-figcaption-body {
    position: relative;
    top: 91%;
    width: 100%;
}

.card-text.add-to-cart-button {
    text-align: left;
    width: auto;
    position: absolute;
    bottom: 5px;
    width: 90%;
}

p.card-text.featured-ratings {
	position: absolute;
	top: 260px;
	left: 10px;
	z-index: 999999999;
}

.productCarousel {
	margin: 0 auto;
}

.productCarousel-slide {
	padding-left: 2.5px;
	padding-right: 2.5px;
}

.alertBox {
	background-color: stencilColor("card--alternate-backgroundColor");
	border-radius: 0;
	border: 1px solid;
	border-color: stencilColor("container-border-global-color-dark");
}

.form-fileDescription {
	color: stencilColor("color-textBase");
}

small.required {
	color: stencilColor("color-primary");
	float: none;
	padding-right: 5px;
}

h2.modal-header-title {
	font-weight: 600;
}

.writeReview-productDetails .product-brand {
	color: stencilColor("color-textBase");
}

.writeReview-productDetails img {
	padding-bottom: 15px;
}

.new-products-container {
	display: none;
}



/*CATEGORY PAGE*/
li.subcategory-item {
    float: left;
    width: 25%;
    list-style-type: none;
    padding: 0 5px;
}

a.subcategory-link {
	display: block;
	text-decoration: none;
	font-weight: bold;
}

.category-main-image {
	display: none;
}

li.subcategory-item:hover span.subcategory-name {
	color: stencilColor("color-primary");
}

li.subcategory-item:hover > a {
    color: stencilColor("color-primary");
}

li.subcategory-item:first-of-type {
	padding-left: 0;
}

li.subcategory-item:last-of-type {
	padding-right: 0 !important;
}

.subcategory-link-container {
    height: auto;
    width: auto;
    /*padding: 10px;*/
    /*border: 1px solid;
    border-color: stencilColor("container-border-global-color-dark");*/
    border: none;
    /*background: stencilColor("body-bg");*/
    margin-bottom: 5px;
    /*background-color: stencilColor("color-secondaryDark");*/
    background-color: #ffffff;
}

.subcategory-image {
    height: 140px;
    /*height: 40px;*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

a.sucategory-link {
    display: block;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    font-size: 14px;
    color: stencilColor("color-textBase");
}

li.subcategory-item span.subcategory-name {
	text-align: center;
	display: block;
}

.subcategory-grid {
    border-bottom: 1px solid;
    border-color: stencilColor("container-border-global-color-dark");
}

.actionBar-section .form-field {
	background: transparent;
	border: none;
}

.container.main {
	margin-top: -18px;
}

ul.breadcrumbs {
    margin-bottom: 18px;
}

img.category-header-image {
    margin-top: 0;
    width: 100%;
}

.category .productGrid {
    list-style: none;
    margin-left: 0;
    margin: 0 -2px;
    max-width: none;
    width: auto;
    font-size: 0;
    margin-bottom: 1.5rem;
}

.category .productGrid .product {
	padding-left: 2.5px !important;
	padding-right: 2.5px !important;
}

.category .page-content {
	padding-left: 0;
	padding-right: 0;
	margin-top: 15px;
}

.category .page {
	margin: 0;
}

.card-text.add-to-cart-button label.form-label {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Open Sans',sans-serif !important;
  padding-left: 0 !important;
}

select#sort {
  border: 1px solid;
  border-color: stencilColor("container-border-global-color-dark");
  border-radius: 0 !important;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Open Sans',sans-serif !important;
  padding: 0 10px;
  background-color: stencilColor("input-bg-color");
}

fieldset.form-fieldset.actionBar-section {
	width: 100%;
}

.actionBar-section .form-select {
	color: stencilColor("color-textBase");
}

.card-title > a {
	font-weight: 400;
	color: stencilColor("color-textBase");
	font-family: 'Open Sans',sans-serif !important;
	font-size: 12px;
}

.card-title > a:hover {
	color: stencilColor("color-primary");
}

.card-figcaption-button + .card-figcaption-button {
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Open Sans',sans-serif !important;
	font-size: 14px;
	text-align: left;
	padding: 10px 0 !important;
	padding-bottom: 0 !important;
}

label.button.button--small.card-figcaption-button {
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Open Sans',sans-serif !important;
	font-size: 14px;
	text-align: left;
	padding: 10px 0 !important;
	padding-bottom: 0 !important;
}

.card-figcaption-button + .card-figcaption-button input {
	margin-right: 10px;
	opacity: 0;
}

label.button.button--small.card-figcaption-button input {
	margin-right: 10px;
	opacity: 0;
}

.card-text span.price {
	color: stencilColor("color-textBase");
	font-size: 12px;
	font-family: 'Open Sans',sans-serif !important;
	font-weight: 600;
}

span.custom-checkbox {
	background-image: url('../img/checkbox.png');
	background-repeat: no-repeat;
	background-position: 0;
	display: inline-block;
	line-height: 25px;
	font-size: 14px;
}

span.custom-checkbox input {
	opacity: 0;
}

span.custom-checkbox.selected {
	background-image: url('../img/checked-box.png');
	background-repeat: no-repeat;
	display: inline-block;
	line-height: 25px;
	background-position: 0;
	position: relative;
}

.category .page-content {
	position: relative;
}

a.pagination-link {
	border-radius: 0;
	background: #ffffff;
}

.pagination {
  position: absolute !important;
  top: -1px !important;
  right: 0;
}

.pagination-item .pagination-link {
  text-decoration: none;
  transition: all 0.2s ease;
  border: 1px solid;
  border-color: stencilColor("container-border-global-color-dark");
  border-radius: 0;
  background: stencilColor("input-bg-color");
  color: stencilColor("color-textBase");
  font-size: 12px;
  font-family: 'Open Sans',sans-serif !important;
  padding: 8px 10px;
}

.pagination-item.pagination-item--current {
	border-radius: 0;
	border-color: stencilColor("color-primary");
}

.pagination-item.pagination-item--current a {
	color: stencilColor("color-primary");
}

.pagination-item.pagination-item--current a.pagination-link {
	border-color: stencilColor("color-primary");
}

.pagination-item .pagination-link:hover {
	color: stencilColor("color-primary");
}

.pagination-item.pagination-item--current a:hover {
	color: stencilColor("color-textBase");
}

li.pagination-item.pagination-item--next a {
	padding: 6px 10px 4px 10px;
	color: stencilColor("color-textBase");
}

li.pagination-item.pagination-item--next a:hover {
	color: stencilColor("color-primary");
}

.pagination-item.pagination-item--next > a:hover .icon > svg {
    fill: stencilColor("color-primary");
}

li.pagination-item.pagination-item--previous a {
	padding: 6px 10px 4px 10px;
}

.icon--ratingFull svg {
  fill: stencilColor("color-primary");
}

.icon--ratingEmpty svg {
  fill: transparent;
  stroke: stencilColor("color-primary");
  stroke-width: 20px;
}

.pagination-list .pagination-item {
  display: inline-block;
  margin: 0 2px !important;
}

div#side-categories .shop-by-price li a {
 	text-decoration: none;
	color: stencilColor("color-textSecondary");
	width: 100%;
	padding: 2px 12px !important;
	display: block;
	font-weight: 300;
}

div#side-categories .shop-by-price li:first-of-type {
	/*padding-top: 10px;*/
}

div#side-categories .shop-by-price li:last-of-type {
	padding-bottom: 20px;
}

div#side-categories .shop-by-price li a:hover {
	color: stencilColor("color-primary");
}

.compare {
	float: right;
	margin-bottom: 30px;
}

.compare a {
	border: 1px solid;
	border-color: stencilColor("container-border-global-color-dark");
	background: stencilColor("input-bg-color");
	text-transform: uppercase;
	font-size: 12px;
	color: stencilColor("color-textBase");
	font-weight: 600;
	padding: 0 15px;
	display: block !important;
}

.compare a:hover {
	background-color: stencilColor("button--primary-backgroundColorHover");
	color: #ffffff;
	border-color: stencilColor("button--primary-backgroundColorHover");
}

.category-main-image {
    height: 182px;
    background-color: transparent;
    margin-bottom: 20px;
}

img.category-header-image {
    width: auto;
}

div.category-header-image {
	height: 180px;
    background-size: cover;
}

/*COMPARE WINDOW*/
.compareTable-action a.button.button--primary {
	font-size: 14px;
	text-transform: uppercase;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid;
	border-color: stencilColor("color-greyDarker");
	background-color: stencilColor("card-figcaption-button-background");
	color: stencilColor("color-textBase");
	border-radius: 0;
	font-weight: bold;
}

.compareTable-action a.button.button--primary:hover {
	background-color: stencilColor("color-primary");
	border-color: stencilColor("color-primary");
	color: #ffffff;
}

.compareTable-removeProduct .icon {
	fill: stencilColor("color-textBase");
}

table {
	background-color: stencilColor("body-bg");
}

.compareTable-action a.button.button--primary:hover {
	font-family: 'Open Sans', sans-serif !important;
}

.category.main {
	width: 75%;
	float: left;
}

.category.main .banners[data-banner-location="top"] {
	border: none;
	background-color: transparent;
	padding: 0;
}

.category.main .card-body {
	min-height: 195px;
}

.container.main {
	width: 100%;
	/*float: none;*/
	margin-bottom: 15px;
}

label.button.button--small.card-figcaption-button {
    background: transparent;
    border: none;
}

/*BRAND PAGE*/
.brand.main {
    float: left;
    width: 75%;
}

.brand .page-content {
	margin-top: 15px;
}

.brand.main .banners[data-banner-location="top"] {
	border: none;
	background-color: transparent;
	padding: 0;
}

.brand-main-image {
	margin-bottom: 20px;
}

.brand.main {
    float: left;
    width: 75%;
}

.brand.main .card-body {
	min-height: 195px;
}

.brand .productGrid .product {
    padding-left: 2.5px !important;
    padding-right: 2.5px !important;
}

/*BRANDS PAGE*/
.page.brands ul.brandGrid .brand .card {
	background: transparent;
	min-height: auto;
}

.page.brands ul.brandGrid {
	margin: 0 auto;
	margin-left: -5px;
	margin-right: -5px;
	margin-top: 15px;
}

.page.brands ul.brandGrid .brand .card-body {
	background: transparent;
	min-height: auto;
	padding-top: 5px;
}

.page.brands .brandGrid .brand {
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}

.page.brands .card-figure {
	border: 2px solid;
	border-color: stencilColor("container-border-global-color-dark");
}

.page.brands .card-title > a {
	font-weight: bold;
	font-size: 14px;
}

/*PRODUCT PAGE*/
.breadcrumbs {
	text-align: left;
}

.product.main.left .breadcrumbs {
	margin-bottom: 0;
}

.page-heading {
	text-align: left;
}

h2.productView-brand {
	background: transparent;
	font-size: 14px;
	text-transform: capitalize !important;
	text-decoration: none;
	border-bottom: none;
	padding-left: 0 !important;
	margin-bottom: -5px !important;
}

.productView-details {
	padding: 0 5px;
}

.productView-brand a {
	text-decoration: none;
	color: stencilColor("color-secondaryDarker");
	font-weight: 400;
}

.productView-title {
	font-size: 20px;
	color: stencilColor("color-secondaryDarker");
	border-bottom: 1px solid;
	border-color: stencilColor("container-border-global-color-dark");
	padding-bottom: 10px;
	margin-top: 0;
}

dt.productView-info-name {
    float: left;
}

dd.productView-info-value {
    float: left;
    display: block;
}

.productView-details {
	font-family: 'Open Sans', sans-serif !important;
	margin-top: -10px;
}

dl.productView-info dt {
	font-family: "Open Sans", sans-serif;
}

.productView-details dt {
	font-size: 14px;
	font-weight: 600;
	float: left;
	margin-top: 0 !important;
}

.card-figure {
	background: #ffffff;
}

.productView-details dd {
	font-size: 14px;
	font-weight: 400;
	float: left;
}

.productView-details .socialLinks .icon svg {
	fill: stencilColor("input-font-color");
}

a.addthis_button_google_plusone.icon.icon--google_plusone.at300b {
    height: 25px;
    width: 25px;
}

.google_plusone_iframe_widget{
	position: relative;
}

div#___plusone_0 {
    position: absolute;
    top: -17px;
    opacity: 0;
}

.productView-details .socialLinks .icon:hover > svg {
	fill: stencilColor("color-primary");
}

.productView li.socialLinks-item.socialLinks-item--google_plusone a:hover > svg {
	fill: stencilColor("color-primary");
}

.productView-price {
	font-size: 20px;
	font-weight: 600;
}

.productView {
	margin: 0 !important;
}

.product.main.left {
	float: left;
	width: 75%;
	padding-right: 20px;
}

.productView-description {
	width: 100%;
	padding: 0 !important;
	margin-top: 15px;
}

.product.main .tabs-contents {
    margin-bottom: 1.5rem;
    background: stencilColor("body-bg");
    padding: 15px;
    border-bottom: 3px solid;
    border-color: stencilColor("container-border-global-color-dark");
    background-color: stencilColor("card--alternate-backgroundColor");
}

figure.productView-image {
    border-bottom: 3px solid;
    border-color: stencilColor("container-border-global-color-dark");
    cursor: crosshair;
}

.tab.is-active {
	background-color: stencilColor("card--alternate-backgroundColor");
}

.tab {
	background-color: stencilColor("color-greyMedium");
	border: none;
	margin-right: 2px;
	width: 14%;
	border-bottom: none;
}

.tab a {
	color: stencilColor("navPages-color");
	font-size: 13px;
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 600;
	padding: 5px;
}

.tab.is-active .tab-title {
	background-color: stencilColor("card--alternate-backgroundColor");
	color: stencilColor("card-figcaption-button-color");
	padding: 0;
}

.tab.is-active {
	border: none;
}

.tab.is-active a.tab-title {
	padding: 5px 0;
}

.tabs {
	border: none;
}

h3.tab-content-title {
	font-size: 20px;
	text-transform: uppercase;
	border-bottom: 1px solid;
	border-color: stencilColor("container-border-global-color-dark");
	padding-bottom: 10px;
	color: stencilColor("color-textBase");
	margin-top: 0;
}

.tab-content.is-active {
	padding-top: 0 !important;
}

.tab-title {
	text-align: center;
	padding: 0;
}

.tab-title:hover {
	color: stencilColor("color-primary");
}

.productView-reviewLink > a:hover {
	color: stencilColor("color-primary");
}

.sidebar.right {
	display: none;
}

.sidebar.right {
    float: right;
    width: 25%;
}

.sidebar.right ul.product-list {
	margin-left: 0;
	background: stencilColor("input-bg-color");
	padding: 20px 20px;
	border-bottom: 3px solid;
	border-color: stencilColor("container-border-global-color-dark");
}

.sidebar.right ul.product-list li {
	list-style-type: none;
	background-color: stencilColor("card--alternate-backgroundColor");
}

.sidebar.right .card-text.add-to-cart-button {
	position: absolute;
	bottom: 5px !important;
	width: 90%;
}

.sidebar.right .card-image {
	padding-top: 0px;
    padding-bottom: 0px;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.sidebar.right .card-body {
	padding: 5px 10px 15px;
	min-height: 125px;
}

.sidebar.right a {
	color: stencilColor("color-scondaryDarker");
}

.sidebar.right li.product-card {
	padding: 0;
}

.sidebar.right h4.card-title {
	margin-top: 15px;
}

.sidebar.right .slick-track {
	width: 100% !important;
}

.sidebar.right .productCarousel-slide.slick-slide.slick-active {
	width: 100% !important;
}

.sidebar.right .productCarousel {
	margin-left: 0;
	background: stencilColor("input-bg-color");
	padding: 20px 20px;
	border-bottom: 3px solid;
	border-color: stencilColor("container-border-global-color-dark");
}

.sidebar.right .productCarousel .card-figure {
	height: auto;
}

.sidebar.right .productCarousel-slide {
	padding-top: 15px;
}

.productView-info-value {
	margin-bottom: 0;
}

.productView {
	margin-right: 0;
}

.similar-products-by-views {
	display: none;
	background: transparent;
}

.similar-products-by-views ul.product-list {
		margin-top: 15px !important;
		margin-left: 0 !important;
    background: #ffffff;
    padding: 0 !important;
}

.similar-products-by-views li.product-card {
	width: 25%;
	float: left;
	list-style-type: none;
	padding-left: 2.5px;
	padding-right: 2.5px;
	background-color: stencilColor("body-bg");
}

.similar-products-by-views .card-text.add-to-cart-button {
	position: absolute;
	width: 90%;
}

.similar-products-by-views .card-body {
	min-height: 135px;
	position: relative;
	padding: 15px 10px;
}

.productView-images {
	padding-left: 0;
}

.productView label.form-label {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	float: left;
	text-transform: capitalize;
	color: stencilColor("color-textBase");
	margin-right: 10px;
}

.productView p.share-title {
	display: none;
}

.options-container {
    float: left;
    width: 75%;
}

.productView-product {
	border: none;
}

.productView .form-increment {
    float: left;
    margin-left: 5px;
}

.form-increment .button {
    margin: 0;
    border-radius: 0 !important;
    background-color: stencilColor("card-figcaption-button-background");
    padding: 2px;
    border-color: stencilColor("container-border-global-color-dark");
}

.form-increment .button--icon svg {
	fill: stencilColor("card-figcaption-button-color");
}

.form-action.wishlist input {
    opacity: 0 !important;
}

.productGrid.wishlist li.product {
	width: 20%;
	padding-left: 2.5px;
	padding-right: 2.5px;
}

.account-message .is-read {
	color: stencilColor("color-textBase");
}

.form-input[readonly] {
	color: stencilColor("input-font-color");
}

.form-actions .button {
	background-color: stencilColor("color-primary");
	color: #ffffff;
}

.form-actions .button:hover {
	background-color: stencilColor("color-primary");
	color: #ffffff;
	background: stencilColor("button--primary-backgroundColorHover");
	border-bottom: 3px solid;
	border-color: stencilColor("button--default-borderColorHover");
}

.form-actions a.button.button--small {
	background-color: stencilColor("color-primary");
	color: #ffffff;
}

.form-actions a.button.button--small:hover {
	background-color: stencilColor("color-primary");
	color: #ffffff;
	background: stencilColor("button--primary-backgroundColorHover");
	border-bottom: 3px solid;
	border-color: stencilColor("button--default-borderColorHover");
}

.table-actions .button + .button {
	background-color: stencilColor("color-primary");
	color: #ffffff;
}

.table-actions .button + .button:hover {
	background-color: stencilColor("color-primary");
	color: #ffffff;
	background: stencilColor("button--primary-backgroundColorHover");
	border-bottom: 3px solid;
	border-color: stencilColor("button--default-borderColorHover");
}

.form-action.wishlist {
	background-image: url('../img/checkbox.png');
	background-repeat: no-repeat;
	background-position: 0;
	display: inline-block;
	line-height: 25px;
}

.form-action.wishlist.selected {
	background-image: url('../img/checked-box.png');
	background-repeat: no-repeat;
	display: inline-block;
	line-height: 25px;
	background-position: 0;
	position: relative;
}

span.custom-checkbox-text {
    position: relative;
    left: -50px;
    top: 8px;
    font-weight: 600;
    text-transform: uppercase;
}

.form-action.add-to-cart {
    float: left;
}

form.form.wishlist {
    float: left;
    width: 40%;
}

.form-action.wishlist input.button {
    float: left;
    width: 20%;
    padding-top: 0 !important;
}

a.addthis_button_email.icon.icon--email {
	padding: 1px;
}

.productView .socialLinks .icon {
    height: 16px;
    width: 16px;
    margin: 0;
    text-decoration: none;
}

.socialLinks .socialLinks-item:hover {
	color: stencilColor("color-primary");
}

li.socialLinks-item {
	padding: 4px;
	margin-right: 2px !important;
}

li.socialLinks-item.socialLinks-item--google_plusone {
    padding-top: 0;
    top: -1.5px;
    position: relative;
    margin-right: 5px !important;
    max-width: 50px;
    /*visibility: hidden;
    display: none !important;*/
}

.productView li.socialLinks-item.socialLinks-item--google_plusone {
	margin-right: 15px;
}

.pin_it_iframe_widget {
    top: -18px;
    position: relative;
    left: 25px;
    display: none;
}

.google_plusone_iframe_widget {
	width: 40px !important;
}

.productView-options {
    margin-bottom: 0 !important;
}

.form-field.form-field--increments {
    margin-bottom: 0 !important;
}

section.productView-details {
    margin-bottom: 0 !important;
}

.productView-product {
	padding-bottom: 15px;
}

.addthis_toolbox.addthis_32x32_style {
    float: left;
    margin-left: 0;
}

.productView .addthis_toolbox.addthis_32x32_style {
	margin-top: -20px;
}

.sidebar.right .card-figure {
	height: 175px;
}

.productView li.socialLinks-item.socialLinks-item--google_plusone {
	margin-right: 0px !important;
}

.productView-options .form-field[data-product-attribute="product-list"] label {
	float: none;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    height: 50px;
    width: 100%;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.productView-options .form-field[data-product-attribute="date"] label {
	float: none;
}

/*CONTENT PAGE*/
.page {
	margin: 0 !important;
}

.page.content h1 span {
	font-size: 28px;
}

.page.content h2 span {
	font-size: 26px;
}

.page.content h3 span {
	font-size: 18px;
}

.page.content h4 span {
	font-size: 18px;
}

.page.content h5 span {
	font-size: 14px;
}

.page.content h6 span {
	font-size: 12px;
}

.page.content h3 {
	background-color: transparent;
	border: none;
	text-transform: capitalize !important;
	background-color: transparent !important;
	font-weight: 600;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif !important;
	padding-left: 0 !important;
	color: stencilColor("color-textBase");
	margin-top: 1.25rem;
}

.page.content h4 {
	background-color: transparent;
	border: none;
	text-transform: capitalize !important;
	background-color: transparent !important;
	font-weight: 300;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif !important;
	padding-left: 0 !important;
	color: stencilColor("color-textBase");
	margin-top: 1.25rem;
}

.page.content h5 {
	background-color: transparent;
	border: none;
	text-transform: capitalize !important;
	background-color: transparent !important;
	font-weight: 600;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif !important;
	padding-left: 0 !important;
	color: stencilColor("color-textBase");
	margin-top: 1.25rem;
}

.page.content h6 {
	background-color: transparent;
	border: none;
	text-transform: capitalize !important;
	background-color: transparent !important;
	font-weight: 600;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif !important;
	padding-left: 0 !important;
	color: stencilColor("color-textBase");
	margin-top: 1.25rem;
}

.page.content p {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 14px;
}

.page.content span {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 14px;
}

.page.content ul {
	margin-left: 30px;
}

.page.content ul li {
	/*list-style-type: none !important;*/
	/*display: block !important;*/
	font-family: 'Open Sans', sans-serif;
}

.page.content th {
	font-weight: 900;
	text-align: left;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif !important;
}

.page.content td {
	font-weight: 400;
	font-size: 14px;
	text-align: left;
	font-family: 'Open Sans', sans-serif !important;
}

.page.content td {
	padding-right: 50px;
}

.page.content {
	/*background-color: stencilColor("card--alternate-backgroundColor");*/
	/*padding: 0 15px;*/
}

.form-actions {
    text-align: left;
}

/*blockquote, blockquote p, blockquote span {
	font-size: 24px !important;
	font-family: 'Open Sans', sans-serif !important;
}*/

/*BLOG PAGE*/
.blog-title {
	margin: 0 auto;
	text-align: left;
	background-color: transparent !important;
}

main.page.blog {
	width: 100%;
}

main.page.blog .blog-post {
	min-height: auto;
}

main.page.blog .blog-post-figure {
	min-height: 165px;
}

main.page.blog h1.page-heading {
	margin-bottom: 15px;
}

.blog-date {
	text-align: left;
}

header h2.blog-title a {
	color: stencilColor("color-textBase");
	font-size: 24px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	text-transform: capitalize !important;
}

.blog-title a {
	color: stencilColor("color-textBase");
	font-size: 24px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	text-transform: captialize !important;
}

.blog {
	width: 32.8%;
	float: left;
	margin-left: 2.5px;
	margin-right: 2.5px;
}

.blog-post-body {
	width: 95%;
	margin: 0 auto;
	margin-top: -15px;
}

.blog + .blog {
	border: none;
	margin-top: 0;
	padding-top: 15px;
}

.blog-post-figure {
	width: 100%;
}

main.page.blog .blog-title a:hover {
	color: stencilColor("color-primary");
}

main.page.blog article.blog {
	padding-left: 15px;
	padding-right: 15px;
	background-color: stencilColor("card--alternate-backgroundColor");
	margin-bottom: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
	min-height: 415px;
}

article.blog img {
	width: 100%;
	border-bottom: 3px solid;
	border-color: stencilColor("container-border-global-color-dark");
}

main.blog.page article.blog img {
	width: 100%;
	border-bottom: 3px solid;
	border-color: stencilColor("container-border-global-color-dark");
	min-height: 165px;
	max-height: 165px;
}

article.blog .socialLinks {
	dislay: none !important;
}

main.page.blog .excerpt {
	height: 65px;
	opacity: 0;
}

main.page.blog .excerpt.visible {
	opacity: 1;
}

h2.blog-title {
	background: transparent;
	border: none;
	text-align: left;
	padding: 0 !important;
	font-weight: 300;
	font-size: 18px !important;
	text-transform: capitalize !important;
	height: auto;
	margin-bottom: 0;
}

p.blog-date {
    font-weight: 600;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif !important;
}

.blog-post {
	font-size: 14px;
	color: stencilColor("color-textBase");
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 400;
}

main.page.blog .blog-post {
	margin-top: -20px;
}

main.page.blog .blog-post a {
	background-color: grey;
	background-color: stencilColor("card--alternate-backgroundColor");
}

.blog-post p {
	font-family: 'Open Sans', sans-serif !important;
}

.blog a.addthis_button_pinterest.icon.icon--pinterest.at300b {
	max-width: 25px;
}

main.page.blog .blog-post a {
	font-size: 14px;
	text-transform: uppercase;
	border-bottom: 3px solid;
	border-color: stencilColor("color-greyDarker");
	border-radius: 0;
	font-weight: bold;
	background-color: stencilColor("card-figcaption-button-background");
}

main.page.blog .blog-post a.read-more-button:hover {
	background-color: stencilColor("color-primary");
	border-color: stencilColor("button--default-borderColorHover");
}

a.read-more-button {
	text-decoration: none;
	border-bottom: 3px solid;
	padding: 5px 10px;
	border-color: stencilColor("color-greyDarker");
	position: absolute;
	bottom: 60px;
}

.blog-post a:hover {
	/*background-color: stencilColor("button--primary-backgroundColorHover");*/
	color: #ffffff;
	border-color: stencilColor("button--primary-backgroundColorHover");
}

article.blog .socialLinks {
	margin-top: 0px;
	text-align: left;
	margin-right: 0;
	margin-left: -3px;
	padding-top: 0 !important;
}

main.page.blog .blog-post-body {
	opacity: 0;
}

main.page.blog .blog-post-body.visible {
	opacity: 1;
}

/*SINGLE POST PAGE*/
.blog.single {
    width: 100%;
}

.blog .tags {
	margin: 0;
	text-align: left;
	padding-bottom: 15px;
}

.blog .tags a:hover {
	color: stencilColor("color-primary");
}

.blog.single article.blog {
    width: 100%;
    padding: 0;
    padding-bottom: 15px;
    background: stencilColor("body-bg");
}

.blog .addthis_toolbox {
	margin-top: 0;
}

.blog .tag a {
	padding: 0;
	padding-right: 10px;
}

.blog.single .blog-post-body {
	width: 100%;
	margin: 0 auto;
}

p.share-title {
	text-align: left;
	margin: 0;
	font-weight: 600;
	font-size: 12px;
}

main.page.blog .addthis_toolbox {
	position: absolute;
	bottom: 0;
}

.blog.single li.socialLinks-item.socialLinks-item--google_plusone {
	margin-left: 0px;
}

.blog.single h2 {
	height: auto;
}

main.page.blog .socialLinks .icon svg {
	fill: stencilColor("input-font-color");
}

main.page.blog .socialLinks a:hover > svg {
	fill: stencilColor("color-primary") !important;
}

.blog.single a.read-more-button {
	display: none !important;
}

.blog.single .socialLinks .icon svg {
	fill: stencilColor("input-font-color");
}

.blog.single .socialLinks .socialLinks-item:hover {
	fill: stencilColor("color-primary");
}

.blog.single .socialLinks a:hover > svg {
	fill: stencilColor("color-primary") !important;
}



// =============================================================================
// PRODUCT Sale Badges (CSS)
// =============================================================================

// BURST BADGE
// -----------------------------------------------------------------------------
.sale-flag-star,
.sale-flag-star:before,
.sale-flag-star:after {
    background: stencilColor("color_badge_product_sale_badges");
    content: "";
    display: block;
    height: rem-calc(50px);
    left: 0;
    overflow: visible;
    position: absolute;
    top: 0;
    transform: scaleX(1) scaleY(1) scaleZ(1);
    transform-origin: 50% 50% 0;
    width: rem-calc(50px);
    z-index: zIndex("lower");
}

.sale-flag-star:before {
    transform: rotateZ(30deg) scaleX(1) scaleY(1) scaleZ(1);
}

.sale-flag-star:after {
    transform: rotateZ(60deg) scaleX(1) scaleY(1) scaleZ(1);
}

.starwrap {
    height: rem-calc(50px);
    position: absolute;
    top: 10px;
    width: rem-calc(50px);
}

.sale-text-burst {
    color: stencilColor("color_text_product_sale_badges");
    font-weight: 600;
    line-height: rem-calc(15px);
    position: absolute;
    text-align: center;
    top: 20%;
    width: rem-calc(50px);
    z-index: zIndex("lower");
}

// -----------------------------------------------------------------------------
// TOP LEFT BADGE
// -----------------------------------------------------------------------------

.sale-flag-side {
    background: stencilColor("color_badge_product_sale_badges");
    color: stencilColor("color_text_product_sale_badges");
    border-radius: 0 50px 50px 0;
    font-size: 15px;
    font-weight: 700;
    height: rem-calc(20px);
    line-height: rem-calc(16px);
    padding-left: spacing("third");
    padding-right: spacing("half");
    padding-top: spacing("eighth") / 2;
    position: absolute;
    transition: 800ms ease;
    z-index: zIndex("lower");
}

.product:hover .sale-flag-side {
    background: stencilColor("color-primary");
    transition: 800ms ease;
}

// -----------------------------------------------------------------------------
// SASH BADGE
// -----------------------------------------------------------------------------

.sale-flag-sash {
    background: stencilColor("color_badge_product_sale_badges");
    color: stencilColor("color_text_product_sale_badges");
    font-size: 15px;
    font-weight: 700;
    height: rem-calc(20px);
    left: -35px;
    line-height: rem-calc(16px);
    padding-top: spacing("eighth") / 2;
    position: absolute;
    text-align: center;
    top: 25px;
    transform: rotate(-45deg);
    transition: 800ms ease;
    width: rem-calc(119px);
    z-index: zIndex("lower");
}

.product:hover .sale-flag-sash {
    background: stencilColor("color-primary");
    transition: 800ms ease;
}

.product {
    overflow: hidden;
}

.sale-flag-side {
	border-radius: 0;
	color: stencilColor("color_text_product_sale_badges");
	right: 0;
	font-size: 12px;
	padding: 5px 10px 2px 10px;
	border-bottom: 3px solid;
	// border-color: stencilColor("button--primary-borderColor");
	border-color: rgba(0, 0, 0, 0.35);
	font-weight: 600;
	font-family: 'Open Sans', sans-serif !important;
	top: 0;
}

.sale-flag-side span {
	color: stencilColor("color_text_product_sale_badges");
}


/*CART PAGE*/
main.page-content {
    padding: 0 !important;
}

/*RSS FEED PAGE*/
.rss-feed-container ul {
	margin-left: 0;
}

.rss-feed-container ul li {
	list-style-type: none;
}

svg.rss-icon {
    width: 25px;
    height: 25px;
    padding: 5px;
    margin-bottom: -7px;
    fill: stencilColor("color-primary");
}

.page-content.page-content {
    padding-left: 0;
    padding-right: 0;
}

/*SEARCH RESULTS PAGE*/
.panel-body {
	/*background-color: stencilColor("color-primary");*/
	padding: 15px !important;
}

.search.main {
    float: left;
    width: 75%;
}

.search.main .navBar--sub {
	margin-bottom: 10px;
}

.search.main .card-body {
	min-height: 195px;
}

.search.main .productGrid .product {
	padding-left: 2.5px;
	padding-right: 2.5px;
}

.search.main .productGrid {
	margin: 0 auto;
}

select#search-form-brand {
  background-color: transparent;
  border-radius: 0;
}

.search.main select#search-form-brand {
  background-color: stencilColor("input-bg-color");
}

/*GIFT CERTIFICATES PAGE*/
.account--fixed {
	width: 100%;
}

.navBar--sub .navBar-item {
	text-transform: uppercase;
}

.form-column {
	padding-left: 0;
	padding-right: 0;
}

.form-field-group {
	border-radius: 0;
}

/*ACCOUNT PAGE*/
.account-body {
	margin: 0 auto;
}

.account-body .form-actions input {
	// border-color: stencilColor("button--primary-borderColor");
	border-color: rgba(0, 0, 0, 0.35);
}

.login {
	margin: 0 auto;
	max-width: 960px;
}

select#sort {
	background-color: stencilColor("input-bg-color");
	width: 20%;
}

input.button.button--primary:hover {
	background-color: ("container-border-global-color-dark");
}

.login-row {
	margin-top: 0;
}

.new-customer div.panel-header {
	padding-left: 15px;
}

input[type=number] {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    padding: 0 8px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
}

input[type=number]:hover::-webkit-inner-spin-button {
    background: #eee url('http://i.stack.imgur.com/YYySO.png') no-repeat 50% 50%;
    width: 14px;
    height: 14px;
    padding: 4px;
    position: relative;
    right: 4px;
    border-radius: 28px;
}

.account--fixedLarge {
	width: 100%;
}

.account.recent .card-body {
	min-height: 200px;
}

.account.recent li.product {
	width: 20%;
	padding-left: 2.5px;
	padding-right: 2.5px;
}

h3.account-heading {
    display: none;
}

.navBar--account {
	margin-bottom: 30px;
}

.account-content {
	padding-left: 0;
	padding-right: 0;
}

.account .button {
	background-color: stencilColor("color-primary");
	color: #ffffff;
}

.account .button:hover {
	background: stencilColor("button--primary-backgroundColorHover");
	border-bottom: 3px solid;
	border-color: stencilColor("button--default-borderColorHover");
}

/*THEME CONTENT HEADERS*/

h1.page-heading {
	background-color: transparent;
	border: none;
	text-transform: capitalize;
	background-color: transparent;
	font-weight: 300;
	font-size: 28px;
	font-family: 'Open Sans', sans-serif;
	padding-left: 0;
	margin-bottom: 0;
	color: stencilColor("color-textBase");
	margin-top: 0;
}

h2.page-heading {
	background-color: transparent;
	border: none;
	text-transform: capitalize;
	background-color: transparent;
	font-weight: 300;
	font-size: 28px;
	font-family: 'Open Sans', sans-serif;
	padding-left: 0;
	margin-bottom: 0;
	color: stencilColor("color-textBase");
	margin-top: 0;
}

h2 {
	background-color: transparent;
	border: none;
	text-transform: capitalize;
	font-weight: 300;
	font-size: 26px;
	font-family: 'Open Sans', sans-serif;
	padding-left: 0;
	margin-top: 2.28571rem;
	margin-bottom: 0.78571rem;
	color: stencilColor("color-textBase");
	margin-top: 1.25rem;
}

/*THEME CONTAINER HEADERS*/

h1.container-header {
	background-color: stencilColor("color-grey");
	margin: 0;
	font-size: 15px;
	border-bottom: 3px solid;
	border-color: stencilColor("container-border-global-color-dark");
	color: stencilColor('navPages-color');
	text-transform: uppercase;
	height: auto;
	padding: 0 12px;
	line-height: 30px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

h2.container-header {
	background-color: stencilColor("color-grey");
	margin: 0;
	font-size: 15px;
	border-bottom: 3px solid;
	border-color: stencilColor("container-border-global-color-dark");
	color: stencilColor('navPages-color');
	text-transform: uppercase;
	height: auto;
	padding: 0 12px;
	line-height: 30px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

h4.card-title a {
	opacity: 1;
}

h4.card-title a.visible {
	opacity: 1;
}

.shipping-estimate-show:hover {
	color: stencilColor("color-priamry");
}

.sideCategoryList.mobile {
	display: none;
}

.productCarousel button {
	display: none !important;
}

.navPages-quickSearch.right.searchbar.mobile {
    display: none;
}

.login-form {
	padding: 0;
	padding-right: 0.75rem;
}

.new-customer {
	padding: 0;
	padding-left: 0.75rem;
}

main.page.blog .google_plusone_iframe_widget {
    position: relative;
    top: -50px;
    opacity: 0;
}

.navPages-item.mobile {
	display: none;
}

.mobile {
	display: none;
}

.brand.main .productGrid {
	margin: 0;
}

.navBar--sub {
	margin-top: 15px;
}


/*UAT REVISIONS*/
.header {
	height: auto;
}

/*LOGO REVISIONS*/
header.header {
	display: table;
	clear: both !important;
}
/*LEFT ALIGNED LOGO*/
.navPages-container.inside-header {
	background: transparent;
	position: initial;
	height: auto;
	z-index: 999999999999999;
	clear: none;
	float: left;
	width: 50%;
	height: 100%;
	display: none;
}

h1.header-logo.header-logo--left {
	float: none;
	display: table-cell;
}

.navPages-container.inside-header {
	border-bottom: none;
}

.navPages-container.inside-header.left-logo {
	float: none;
	display: none;
}

.navPages-container.inside-header.left-logo.visible {
	float: none;
	display: table-cell;
	vertical-align: middle;
}

.navPages-container.inside-header.left-logo nav.navPages {
	display: table;
}

.navPages-container.inside-header.left-logo .navPages-quickSearch {
	display: table-cell;
	vertical-align: middle;
	border-bottom: none;
}

.navPages-container.inside-header.left-logo .right.searchbar {
	float: none;
}

.header-logo > a {
	display: table-cell;
}

/*CENTER-ALIGNED-LOGO*/
.header-logo {
	width: auto;
	float: none;
	margin-top: 15px;
}

.navPages-container .navPages-quickSearch.right.searchbar.center {
	display: none;
}

.navPages-container {
	/*z-index: -1;*/
}

.navPages-container.inside-header.center-logo {
	background: transparent;
	position: static;
	height: auto;
	z-index: 999999999999999;
	display: none;
	width: 100%;
}

.navPages-container.inside-header.center-logo nav.navPages {
	position: static;
}

.navPages-container.inside-header.center-logo .navPages-quickSearch.right.searchbar.center {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    float: none;
    z-index: 99999999999999999999 !important;
    border: none;
}

header .navPages-container.inside-header.center-logo .navPages-quickSearch.right.searchbar.center .form-fieldset {
	width: 100% !important;
}

/*RIGHT ALIGNED LOGO*/
.navPages-container.inside-header.right-logo {
	height: auto;
	float: right;
	width: 100%;
}

.navPages-container.inside-header.right-logo nav.navPages {
	display: block;
}

.navPages-container.inside-header.right-logo .navPages-quickSearch {
	display: block;
	border-bottom: none;
}

.navPages-container.inside-header.right-logo .right.searchbar {
	float: right;
	width: 100%;
}

header .navPages-container.inside-header.right-logo .right.searchbar .form-fieldset {
	width: 100% !important;
}

/*PRODUCT GALLERY IMAGE RESIZING*/
figure.card-figure {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
}

/*FACETED SEARCH FILTERING*/
#facetedSearch {
	padding: 0 0 20px 0;
	background-color: stencilColor("color-secondaryDark");
}

div#facetedSearch-navList {
	padding: 5px 12px;
}

.facetedSearch-toggle + .facetedSearch-navList, .sidebarBlock + .facetedSearch-navList {
	margin-top: 5px;
}

.facetedSearch-refineFilters {
	padding: 2px 12px;
}

div#side-categories .shop-by-price #facetedSearch li a {
	padding-left: 25px !important;
}

ul.inlineList.inlineList--labels {
    margin: 0 auto;
}

div#side-categories .shop-by-price #facetedSearch ul.inlineList.inlineList--labels li a {
	padding-left: 0 !important;
}

div#faceted-search-container .sidebarBlock {
	display: none;
}

div#faceted-search-container div#facetedSearch.sidebarBlock {
	display: block;
}

.mobile-menu.navPages-container {
	display: none;
}

span.custom-name {
	display: none;
}

.tab-content .custom-field-container {
    display: none !important;
}

.tab-content div.visible .custom-field-container {
    display: block !important;
}

#tab-customField1 .custom-field-container.visible {
	display: inline !important;
}

li.tab.customFieldOne {
	display: none;
}

li.tab.customFieldOne.visible {
	display: block;
}

li.tab.customFieldTwo {
	display: none;
}

// li.tab.customFieldTwo.visible {
// 	display: block;
// }

.caps {
	text-transform: uppercase;
}



/*****************************************************************************************************************************/
													/*MEDIA QUERIES*/
/*****************************************************************************************************************************/

@media only screen and (max-width : 1260px) {
	.container.main {
		padding: 0;
	}

	.productCarousel .slick-track {
    width: 100% !important;
	}

	.productCarousel-slide {
		width: 25% !important;
	}

	.footer-top.newsletter .form-prefixPostfix .button {
		width: auto;
		margin-top: 0;
	}
}

@media only screen and (max-width : 1010px) {
.right.searchbar {
		/*margin-right: 15px;*/
}

	.container.main {
    margin-top: 15px;
}

 .body.content {
		margin: 0 auto;
		/*margin: 0 15px;*/
	}

.header-logo-text {
	font-size: 25px;
}

.header-tagline {
	padding-left: 2%;
	font-size: 14px;
}

select#sort {
    width: 25%;
}

}

@media only screen and (max-width : 980px) {
 	.top-menu .content {
 		padding: 0 15px !important;
 }

 .body.content {
		margin: 0 15px;
 }

 .header {
 		padding-left: 15px !important;
		padding-right: 15px;
	}

	div#menu {
		margin: 0 15px;
	}

	main.page.blog article.blog {
		width: 32.7%;
	}

	main.page.blog .blog-post-figure {
		min-height: auto;
		height: auto;
	}

	main.blog.page article.blog img {
		min-height: auto;
		max-height: auto;
		height: auto;
	}

	main.page.blog article.blog {
		min-height: 400px;
	}

	p.blog-date {
		max-height: 20px;
		overflow: hidden;
	}

	.blog-title a {
		font-size: 20px;
	}

main.page.blog .blog-post a {
		bottom: 60px !important;
		position: absolute;
		min-height: none !important;
	}
}

@media only screen and (max-width : 960px) {
.socialLinks--alt .icon {
    height: 20px;
    width: 20px;
}

main.page.blog article.blog {
		min-height: 420px;
	}


}

@media only screen and (max-width : 900px) {
a.button.button--small.card-figcaption-button {
	font-size: 12px;
}
}


@media only screen and (max-width : 840px) {
.socialLinks--alt .icon {
    height: 15px;
    width: 15px;
}

a.button.button--small.card-figcaption-button {
	font-size: 10px;
}

.blog-title a {
	font-size: 18px;
}
}

@media only screen and (max-width: 820px) {
main.page.blog article.blog {
    width: 32.6%;
}
}

@media only screen and (max-width : 800px) {
.productGrid .product {
    width: 25%;
}

.heroCarousel-title {
	width: 100%;
}

p.heroCarousel-description {
	width: 100%;
}

.heroCarousel-content {
	background-color: stencilColor("color-grey");
}

.header {
	z-index: 1 !important;
	position: fixed;
	padding-bottom: 0
}

.container.main {
   margin-top: 85px;
}

.body.content {
	margin-top: 0px;
}

body {
	padding-top: 0;
}

.navPages-container.is-open {
	z-index: 1 !important;
	background-color: transparent;
	position: relative;
	padding-top: 40px;
}

.footer-info-col--small {
		width: 50%;
}

.footer-payment-icons {
	width: 100%;
	text-align: center;
}

.top-menu {
	position: fixed;
	top: 0;
	z-index: 5;
	width: 100%;
}

.navPages {
	position: fixed;
	width: 96.5%;
}

.navPages-quickSearch.right.searchbar.mobile {
    top: 50px;
    border-bottom: none;
    display: block;
}

.mobileMenu-toggle .mobileMenu-toggleIcon {
	top: 14px;
}

.custom-pages-nav {
	padding: 0
}

ul.navPages-list.navPages-list--user {
    display: none;
}

.navPages {
	height: 100%;
	background-color: stencilColor("color-grey");
}

.left.phone-number {
	left: 40px;
	position: relative;
}

.header-tagline {
	display: none;
}

.header {
	padding-left: 0 !important;
	padding-right: 0;
	height: auto;
}

.header-logo--left {
		text-align: center;
		float: none;
		width: 100%;
		margin-bottom: 0 !important;
		margin-bottom: 5px !important;
		padding: 0 15px;
		line-height: initial;
		margin-top: 15px !important;
}

.header-logo-image {
   max-height: 5.35714rem;
}
	.product.main.left {
		padding-right: 0;
	}

	.productView-images {
		padding-right: 0;
	}

	.right.searchbar {
		width: 100%;
	}

	.product.main.left {
		width: 100%;
		float: none;
	}

	li.tab {
    float: left;
	}

	.sidebar.right {
		float: none;
		width: 100%;
	}

	.sidebar.right ul.product-list li {
    list-style-type: none;
    background-color: stencilColor('');
    width: 25%;
    float: left;
    margin-left: 2.5px;
    margin-right: 2.5px;
    margin-bottom: 15px;
	}

	.sidebar.right ul.product-list {
		padding: 0;
	}

	.sidebar.right h2.container-header {
    margin-bottom: 15px;
	}

	.productView {
		margin-top: 52px !important;
	}

	.search-icon {
    right: 5%;
	}

	.navPages-quickSearch {
		position: static;
		border-bottom: none;
	}

	.right.searchbar {
		float: none;
		margin-bottom: 25px;
	}

	.navPages-quickSearch {
		max-width: none;
	}

	.navPages-quickSearch > .container {
	width: 100%;
}

.heroCarousel-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.heroCarousel .slick-dots {
	bottom: 0px !important;
}

.heroCarousel .slick-next, .heroCarousel .slick-prev {
    top: 30%;
}

.alertBox {
	width: 100%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 20px;
}

.login-form {
	padding: 0;
}

.new-customer {
	padding: 0;
}

.navBar--account {
    display: block;
    margin-top: 25px;
    margin-bottom: 15px;
}

.navBar--account .navBar--sub .navBar-item {
	float: left;
}

.page {
	margin-top: 50px !important;
}

.header-logo--left {
	background-color: stencilColor("card--alternate-backgroundColor");
}

.blog-title a {
	font-size: 16px;
}

li.socialLinks-item {
	padding: 0;
}

.pagination {
	/*margin-top: 10px;*/
}

.blog.single {
	margin-top: 15px;
}

ul.breadcrumbs {
	margin-top: 15px;
}

li.navPages-item.mobile:last-of-type {
    margin-bottom: 50px !important;
}

.navPages h2.container-header {
	background-color: stencilColor("body-bg");
	padding: 0 10px;
	color: stencilColor("color-secondaryDarker");
	margin-bottom: 10px;
	margin-top: 10px;
}

.mobile {
	display: block;
}

.navPages-item.mobile {
	display: block;
}

li.navPages-item {
	padding: 0 15px;
	position: relative;
}

div#menu span.down-arrow {
    display: block;
    position: absolute;
    /*color: stencilColor("navPages-color");*/
    color: #ffffff;
    padding: 10px 15px;
}

#menu i.fa.fa-chevron-down.main-nav {
	display: none;
}

#navPages-:before {
	display: none !important;
}

.navPages .navPage-subMenu-list {
	border-left: none;
}

li.navPages-item.active a {
	padding: 0 15px !important;
}

span.down-arrow {
	right: 10px;
	top: 0px;
}

li.navPages-item.active a {
	color: #ffffff;
}

.navPages .navPage-subMenu-list, .navPage-childList {
	border-left: none;
}

#menu .navPage-subMenu li a i {
	display: none;
}

#menu .custom-pages-nav .navPage-subMenu li {
	position: relative;
}

#menu .navPage-subMenu {
	background-color: stencilColor("container-fill-base");
}

#menu .navPage-subMenu li a {
	background-color: stencilColor("body-bg");
}

#menu .navPages .navPage-subMenu-list li a {
	background-color: stencilColor("container-fill-base");
	color: #ffffff;
}

section.quickSearchResults .price-section {
	float: left;
}

section.quickSearchResults .card-text.add-to-cart-button {
	top: -70px;
}

.navPages {
		margin-top: -10px;
	}

	.header-logo>a {
		margin-top: 5px;
	}

	h1.header-logo.header-logo--left {
		display: block;
	}

	.header.is-open div#menu {
		display: block;
		top: 88px;
	}

	.navPages-container.inside-header.left-logo.visible {
		display: none;
	}

}

@media only screen and (max-width : 767px) {
	div#side-categories {
    width: 100%;
    margin-top: 10px;
    padding-right: 0;
}

.right-main {
	width: 100%;
}

.sideCategoryList.desktop {
	display: none;
}

.sideCategoryList.mobile {
	display: block;
	float: none !important;
	margin-top: 20px !important;
}

.slick-slide img {
	width: 100%;
}

article.card {
	min-height: auto;
}

.card-text[data-test-info-type="price"] {
	height: 50px;
}

a.button.button--small.card-figcaption-button {
	font-size: 12px;
}

.heroCarousel .slick-dots {
	/*display: none !important;*/
}

.heroCarousel-content {
	padding: 15px;
}

.slider {
	min-height: auto;
}

p.heroCarousel-description {
	margin-bottom: 15px;
}

	.navPages-quickSearch {
		width: 100%;
		float: none;
		clear: both;
		position: static;
		max-width: 100%;
	}

	header .form-fieldset {
		width: 100%;
	}

	header .form-fieldset {
    width: 100%;
    float: none;
    margin: 0 auto;
    max-width: 50%;
    margin-top: 15px;
}

.category.main {
	width: 100%;
}

li.navUser-item.navUser-item--cart {
    position: absolute;
    top: 0;
    right: 15px;
}

li.navUser-item.navUser-item--account {
    display: block;
    float: left;
    line-height: 30px;
    padding: 0px 80px 0px 5px;
}

.heroCarousel .slick-next, .heroCarousel .slick-prev {
    top: 34%;
}

.search.main {
	width: 100%;
	float: none;
}

.banners {
	clear: both;
}

.search.main section.page {
	margin-top: 15px !important;
}

.search.main .navBar--sub {
	margin-top: 15px;
}

.page.advanced-search {
    display: none;
}

}

@media only screen and (max-width: 710px) {
main.page.blog article.blog {
    width: 32.5%;
}
}

@media only screen and (max-width : 660px) {
.footer-top.newsletter {
	height: auto;
}

.footer-top.newsletter .content {
	width: 100%;
	text-align: center;
}

.footer-top.newsletter h5 {
	float: none;
	width: 100%;
}

.footer-top.newsletter form.form {
	float: none;
	width: 100%;
	padding-top: 0 !important;
	width: 85%;
	margin: 0 auto !important;
}

.navPages {
    width: 95.5%;
}
}

@media only screen and (max-width: 630px) {
main.page.blog article.blog {
    width: 32.4%;
}

a.button.button--small.card-figcaption-button {
    font-size: 11px;
}
}

@media only screen and (max-width : 615px) {

	.heroCarousel-title {
		font-size: 20px;
		line-height: 20px;
	}

	p.heroCarousel-description {
		font-size: 14px;
		line-height: 14px;
	}

	.heroCarousel-action {
		font-size: 14px !important;
	}
}

@media only screen and (max-width : 600px) {
.navPages {
    width: 95%;
}

.socialLinks .icon {
	width: 15px;
	height: 15px;
}

a.addthis_button_google_plusone.icon.icon--google_plusone.at300b {
    height: 15px;
    width: 25px;
}

a.button.button--small.card-figcaption-button {
    font-size: 10px;
	}

	select#sort {
    width: 30%;
}
}

@media only screen and (max-width: 565px) {
main.page.blog article.blog {
    width: 32.3%;
    min-height: 450px;
}

a.button.button--small.card-figcaption-button {
    font-size: 9.5px;
	}
}

@media only screen and (max-width : 550px) {

	.header-logo--left {
		text-align: center;
		float: none;
		width: 100%;
		margin-bottom: 0 !important;
	}

	.header-tagline {
		width: 100%;
		float: none;
		padding-top: 0;
	}

	.countPill {
    top: -35px!important;
    background-color: #fff;
    left: 26px;
	}

	li.navUser-item.navUser-item--account {
    display: block;
    float: left;
    line-height: 44px;
    padding: 6px 40px 6px 5px;
	}

	.footer-info-col--small {
		width: 100%;
	}

	.footer-bottom {
		height: auto;
		padding: 5px 15px;
	}

	.footer-bottom .left {
		float: none;
		text-align: center;
		width: 100%;
	}

	.footer-bottom .right {
		float: none;
		text-align: center;
		width: 100%;
	}

	.productGrid .product {
		width: 50%;
	}

	.productCarousel-slide {
    width: 50% !important;
	}

	.footer-info-col--small {
		padding-bottom: 25px;
	}

	footer .blog {
		padding-bottom: 5px;
	}

	.footer-payment-icons {
		margin-bottom: 15px;
	}

	.card-body {
		text-align: left;
	}

	.productCarousel-slide .card {
		margin-bottom: 20px;
	}

	a.button.button--small.card-figcaption-button {
    font-size: 14px;
	}

	.navUser-item-cartLabel {
    display: block;
	}

	li.navUser-item.gift-certficates {
		display: none !important;
	}

	.top-menu {
		font-size: 12px;
	}

	.navUser-item--account .navUser-action {
		display: block;
		float: left;
		line-height: 16px;
	}

	.top-menu .right span.or-text {
		float: left;
		line-height: 16px;
		display: block;
	}

	.top-menu .right {
		margin-bottom: 0;
	}

	header .form-fieldset {
		max-width: 100%;
	}

.similar-products-by-views li.product-card {
	width: 50%;
}

.sidebar.right ul.product-list {
	padding: 0;
}

.sidebar.right ul.product-list li {
	width: 49%;
}

.brand.main {
	width: 100%;
	float: none;
	clear: both;
}

a.navUser-action.account {
    position: relative;
    right: 20px;
}

a.navUser-action.logout {
    position: relative;
    right: 15px;
}

main.page.blog article.blog {
    width: 100%;
    float: none;
    min-height: 505px;
}

main.blog.page article.blog img {
	max-height: none;
}

main.page.blog .excerpt {
	height: auto;
}

.tab {
	width: auto;
	padding: 0 5px;
}

.navPages {
    width: 94.5%;
}

.heroCarousel .slick-dots li:first-of-type {
    width: 6.5%;
}

.footer-bottom .content {
	line-height: 12px;
}

.blog-title a {
	font-size: 20px;
}

.page.brands .brandGrid .brand {
	width: 50%;
}

li.subcategory-item {
	width: 50%;
	margin-bottom: 15px;
}

.socialLinks .icon {
    width: 25px;
    height: 25px;
}

}

@media only screen and (max-width : 530px) {
.sidebar.right ul.product-list li {
	width: 48.5%;
}
}



@media only screen and (max-width : 500px) {
main.page.blog article.blog {
	min-height: 475px;
}
}


@media only screen and (max-width : 480px) {
.heroCarousel-title {
		font-size: 14px;
		line-height: 14px;
	}

	.tab a {
		font-size: 12px;
	}

	.navPages {
    width: 94%;
}

main.page.blog article.blog {
    min-height: 460px;
}

div#side-categories {
	display: none;
}

.category.main {
	margin-top: 15px;
}

.navPages-item.mobile {
	display: block;
}

}

@media only screen and (max-width : 500px) {
select#sort {
    width: 35%;
}
}

@media only screen and (max-width : 460px) {
.heroCarousel .slick-next, .heroCarousel .slick-prev {
    top: 32%;
}

select#sort {
    width: 40%;
}
}


@media only screen and (max-width : 420px) {
main.page.blog article.blog {
    min-height: 450px;
}

.page-content.page-content .pagination {
	top: 40px !important;
	left: 0 !important;
	right: initial;
}

.actionBar {
	margin-bottom: 25px;
}

select#sort {
    width: 70%;
}
}

@media only screen and (max-width : 405px) {
	.tab a {
		font-size: 10px;
	}
}

@media only screen and (max-width : 400px) {
	.footer-top.newsletter h5 {
		font-size: 15px;
	}

	svg.footer-payment-icon {
    width: 3.5rem !important;
	}

	.footer-bottom .content {
		font-size: 11px;
	}

	a.button.button--small.card-figcaption-button {
    font-size: 12px;
	}

	footer .form-prefixPostfix .form-input {
		font-size: 10px;
	}

	.heroCarousel .slick-dots li:first-of-type {
		width: 6.5%;
	}

	p.heroCarousel-description {
		font-size: 11px;
		line-height: 16px;
	}

	.banners .banner p {
		font-size: 14px;
	}

		.navPages {
    width: 93.5%;
	}

	.heroCarousel .slick-next, .heroCarousel .slick-prev {
    top: 30%;
	}
}


@media only screen and (max-width : 380px) {
main.page.blog article.blog {
    min-height: 440px;
}
}



@media only screen and (max-width : 365px) {
.sidebar.right ul.product-list li {
	width: 48%;
}
}


@media only screen and (max-width : 360px) {
.tab a {
    font-size: 9px;
}

.navPages {
    width: 93%;
}

	main.page.blog article.blog {
    min-height: 415px;
}
}

@media only screen and (max-width : 330px) {
.tab a {
    font-size: 8px;
	}
			.navPages {
    width: 91%;
	}

	.heroCarousel .slick-next, .heroCarousel .slick-prev {
    top: 27%;
}

a.button.button--small.card-figcaption-button {
    font-size: 11px;
}
}

/*PRODUCT CONTAINERS FIX*/
article.card {
	min-height: 290px;
	position: relative;
}

.card-image {
    max-height: 150px;
}

.card-text[data-test-info-type="price"] {
    position: absolute;
    bottom: 40px;
}

.category .page .card-text[data-test-info-type=price] {
    position: absolute;
    bottom: 80px;
}

.brand.main .card-text[data-test-info-type=price] {
    position: absolute;
    bottom: 80px;
}

.search.main .card-text[data-test-info-type=price] {
    position: absolute;
    bottom: 80px;
}

.search.main article.card {
    min-height: 350px;
}

form article.card {
    min-height: 350px;
}

form .card-text[data-test-info-type=price] {
    position: absolute;
    bottom: 80px;
}

h4.card-title {
    line-height: 1.25;
    height: 55px;
}

.card-body {
	position: initial;
}

.card-figure {
	min-height: 150px;
}

.productCarousel .slick-dots {
	display: none !important;
}
