<h2 class="container-header page-heading">Featured Items</h2>

<ul class="productGrid productGrid--maxCol{{ columns }}" data-product-type="featured">
    {{#each products}}
        <li class="product">
            <p style="display: none;" class="card-text featured-ratings" data-test-info-type="productRating">
                <span class="rating--small">
                    {{> components/products/ratings rating=rating}}
                </span>
            </p>
            {{>components/products/card theme_settings=../theme_settings}}
        </li>
    {{/each}}
</ul>
