<ul class="product-list">
    {{#each this}}
    <li class="product-card">
        {{>components/products/card theme_settings=../theme_settings}}
    </li>
    {{/each}}
    <div class="clear"></div>
</ul>
